.news-page
	ul.pagination
		padding-top: 60px

.news-inner-page-banner
	img
		width: 100%
		padding: 0 !important

.news-inner-page
	margin: 0
	.content
		padding: 50px 0
		img
			width: 100%
	h2
		font-size: 40px
		font-family: $exo
		color: #fff
		margin-bottom: 20px
	h3
		font-family: $proxReg
		font-size: 24px
		margin-bottom: 20px
		color: #C0C4CC
	p
		font-size: 16px
		margin-bottom: 20px
		color: #C0C4CC
	span.date
		color: #909399
		margin-bottom: 20px
		display: block
	img
		padding: 20px 0 40px 0

@media (max-width: 768px)
	.news-inner-page
		.row
			margin: 0