#main
	// header
	header(style='background: url(../img/banners/services-inner.jpg) center top no-repeat').inner-pages
		include ../../components/_header
		include partials/_block-banner
	// content
	include ../services-page/partials/_block-services_list
	include partials/block-more-projects/_block-more_projects
	//footer
	include ../../components/_footer
	include ../../components/_modal

