.projects-list
	.container
		.row
			ul.services-inner-projects#projects-list.clearfix
				li.mix.category-2(data-myorder='2')
					a(href='#' data-toggle="popover" data-title='lorem ipsum' data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur dolorem, doloribus eos laudantium repudiandae?")
						img(src='img/jpg/projects/1.jpg' title='')
						.content
							h4 BALANCE
							.tags
								span web
								span iOs
								span Android
				li.mix.category-1(data-myorder='2')
					a(href='#' data-toggle="popover" data-title='lorem ipsum' data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur dolorem, doloribus eos laudantium repudiandae?")
						img(src='img/jpg/projects/2.jpg' title='')
						.content
							h4 BALANCE
							.tags
								span web
								span iOs
								span Android
				li.mix.category-3(data-myorder='2')
					a(href='#' data-toggle="popover" data-title='lorem ipsum' data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur dolorem, doloribus eos laudantium repudiandae?")
						img(src='img/jpg/projects/3.jpg' title='')
						.content
							h4 BALANCE
							.tags
								span web
								span iOs
								span Android
				li.mix.category-2(data-myorder='2')
					a(href='#' data-toggle="popover" data-title='lorem ipsum' data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur dolorem, doloribus eos laudantium repudiandae?")
						img(src='img/jpg/projects/1.jpg' title='')
						.content
							h4 BALANCE
							.tags
								span web
								span iOs
								span Android
				li.mix.category-3(data-myorder='2')
					a(href='#' data-toggle="popover" data-title='lorem ipsum' data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur dolorem, doloribus eos laudantium repudiandae?")
						img(src='img/jpg/projects/2.jpg' title='')
						.content
							h4 BALANCE
							.tags
								span web
								span iOs
								span Android
				li.mix.category-1(data-myorder='2')
					a(href='#' data-toggle="popover" data-title='lorem ipsum' data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur dolorem, doloribus eos laudantium repudiandae?")
						img(src='img/jpg/projects/3.jpg' title='')
						.content
							h4 BALANCE
							.tags
								span web
								span iOs
								span Android
				li.mix.category-1(data-myorder='2')
					a(href='#' data-toggle="popover" data-title='lorem ipsum' data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur dolorem, doloribus eos laudantium repudiandae?")
						img(src='img/jpg/projects/1.jpg' title='')
						.content
							h4 BALANCE
							.tags
								span web
								span iOs
								span Android
				li.mix.category-3(data-myorder='2')
					a(href='#' data-toggle="popover" data-title='lorem ipsum' data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur dolorem, doloribus eos laudantium repudiandae?")
						img(src='img/jpg/projects/2.jpg' title='')
						.content
							h4 BALANCE
							.tags
								span web
								span iOs
								span Android
				li.mix.category-2(data-myorder='2')
					a(href='#' data-toggle="popover" data-title='lorem ipsum' data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur dolorem, doloribus eos laudantium repudiandae?")
						img(src='img/jpg/projects/3.jpg' title='')
						.content
							h4 BALANCE
							.tags
								span web
								span iOs
								span Android
				li.mix.category-3(data-myorder='2')
					a(href='#' data-toggle="popover" data-title='lorem ipsum' data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur dolorem, doloribus eos laudantium repudiandae?")
						img(src='img/jpg/projects/1.jpg' title='')
						.content
							h4 BALANCE
							.tags
								span web
								span iOs
								span Android
				li.mix.category-1(data-myorder='2')
					a(href='#' data-toggle="popover" data-title='lorem ipsum' data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur dolorem, doloribus eos laudantium repudiandae?")
						img(src='img/jpg/projects/2.jpg' title='')
						.content
							h4 BALANCE
							.tags
								span web
								span iOs
								span Android
				li.mix.category-2(data-myorder='2')
					a(href='#' data-toggle="popover" data-title='lorem ipsum' data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur dolorem, doloribus eos laudantium repudiandae?")
						img(src='img/jpg/projects/3.jpg' title='')
						.content
							h4 BALANCE
							.tags
								span web
								span iOs
								span Android
