.services
	.container
		.row
			ul.services-list
				include _block-services_item
				include _block-services_item
				include _block-services_item
				include _block-services_item
				include _block-services_item
				include _block-services_item
