
footer
	.container
		.row
			.top-side
				a(href='#' title="Скачайте нашу презентацию в формате PDF").download.pull-left Скачать презентацию
				ul.social.pull-right
					li
						a(href='#' title='').fc
					li
						a(href='#' title='').ins
			.bot-side
				p.pull-left © MITAPP, 2017. Все права защищены.
				ul.pull-right.footer-nav
					li
						a(href='#' title='') О нас
					li
						a(href='#' title='') Проекты
					li
						a(href='#' title='') Услуги
					li
						a(href='#' title='') Контакты