
nav.navbar.navbar-default.main-navigation
	.container
		.row
			.navbar-header
				a.navbar-brand.logo(href='#' title='MitApp.pro')
					img(src='img/logo.svg' width='40' height='37' title='MitApp.pro')
				dropdown.language.visible-xs
					button.dropdown-toggle(type='button', data-toggle='dropdown') English
					ul.dropdown-menu
						li
							a(href='#' title='Русский') Русский
				.phone.visible-xs
					span Нужна консультация?
					a(href='tel:+996555555555' title='' ) +996 55 55 55
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
			#navbar.navbar-collapse.collapse
				ul.nav.navbar-nav.menu
					li.active
						a(href='#' title='') О нас
					li
						a(href='#' title='') Проекты
					li
						a(href='#' title='') Услуги
					li
						a(href='#' title='') Блог
					li
						a(href='#' title='') Контакты
				a.btn.main-btn(href='#' title='' data-toggle="modal" data-target="#myModal") Написать
				.phone.hidden-xs
					span Нужна консультация?
					a(href='#' title='') +996 773 28-66-44
				.dropdown.language.hidden-xs
					button.dropdown-toggle(type='button', data-toggle='dropdown') English
					ul.dropdown-menu
						li
							a(href='#' title='' ) Русский


