.reviews
    .container
        .row
            h2.subtitle Отзывы клиентов
            #theCarousel.carousel.slide.multi-item-carousel.reviews-carousel
                .carousel-inner
                    .item.active
                        .item-wrap
                            .item-head
                                .person
                                    img(src='img/jpg/review-user.jpg' title='')
                                span Директор Megacom
                                h5 Анатолий Цой
                            .item-body
                                p We believe in your life outside the office. We don’t expect you to keep grinding until your eyes bleed! We want you to go home and indulge and invest in your interests outside of work. With us, you'll have proper work-life balance.
                    include _block-reviews_item
                    include _block-reviews_item
                    include _block-reviews_item
                    include _block-reviews_item
                    include _block-reviews_item
                a.left.carousel-control(href='#theCarousel', data-slide='prev' title='')
                a.right.carousel-control(href='#theCarousel', data-slide='next' title='')

                ol.carousel-indicators
                    li.active(data-target='#theCarousel', data-slide-to='0')
                    li(data-target='#theCarousel', data-slide-to='1')
                    li(data-target='#theCarousel', data-slide-to='2')
                    li(data-target='#theCarousel', data-slide-to='3')
                    li(data-target='#theCarousel', data-slide-to='4')
                    li(data-target='#theCarousel', data-slide-to='5')


