.item
	.item-wrap
		.item-head
			.person
				img(src='img/jpg/review-user.jpg' title='')
			span Директор Megacom
			h5 Анатолий Цой
		.item-body
			p We believe in your life outside the office. We don’t expect you to keep grinding until your eyes bleed! We want you to go home and indulge and invest in your interests outside of work. With us, you'll have proper work-life balance.