#main
	// header
	header(style='background: url(../img/banners/projects-inner.jpg) center top no-repeat').inner-pages
		include ../../components/_header
		include partials/_block-banner
	// content
	include partials/_block-project-step
	include partials/_block-projects_carousel
	include ../main-page/partials/_block-callback
	//footer
	include ../../components/_footer
	include ../../components/_modal
