
.banner.projects-banner
	.inner-wrap
	.container
		.row
			ul.breadcrumb
				li
					a(href='#') Главная
				li О нас
			h1
				| Наши
				span проекты
	.projects-nav-block
		.container
			.row
				ul.controls.col-md-8.nopadding
					li
						button.filter(data-filter='all') Все
					li
						button.filter(data-filter='.category-1') Моб. приложение
					li
						button.filter(data-filter='.category-2') Сайты
					li
						button.filter(data-filter='.category-3') Сервисы
				.col-md-4.nopadding.text-right
					ul.pagination
						li.active.numbers
							a(href='#') 1
						li.numbers
							a(href='#') 2
						li.numbers
							a(href='#') 3
						li.numbers
							a(href='#') 4
						li.numbers
							a(href='#') 5
						li.empty.disabled
							a(href='#').empty
						li.prev.control
							a(href='#')
								i.glyphicon.glyphicon-chevron-left
						li.next.control
							a(href='#')
								i.glyphicon.glyphicon-chevron-right