@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot") format("embedded-opentype"), url("../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular/ProximaNova-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Light';
  src: url("../fonts/ProximaNova-Light/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light/ProximaNova-Light.eot") format("embedded-opentype"), url("../fonts/ProximaNova-Light/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova-Light/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light/ProximaNova-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot") format("embedded-opentype"), url("../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold/ProximaNova-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Thin';
  src: url("../fonts/ProximaNova-Thin/ProximaNova-Thin.eot");
  src: url("../fonts/ProximaNova-Thin/ProximaNova-Thin.eot") format("embedded-opentype"), url("../fonts/ProximaNova-Thin/ProximaNova-Thin.ttf") format("truetype"), url("../fonts/ProximaNova-Thin/ProximaNova-Thin.woff") format("woff"), url("../fonts/ProximaNova-Thin/ProximaNova-Thin.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.gradiend {
  background: #17b184;
  background: -moz-linear-gradient(top, #17b184 0%, #00a9a7 100%);
  background: -webkit-linear-gradient(top, #17b184 0%,#00a9a7 100%);
  background: linear-gradient(to bottom, #17b184 0%,#00a9a7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17b184', endColorstr='#00a9a7',GradientType=0 );
}