
// footer //

footer
	padding: 60px 0
.top-side
	overflow: hidden
	border-bottom: 1px solid rgba(255,255,255,0.1)
	.download
		border-radius: 4px
		padding: 5px 0 5px 35px
		display: block
		font-size: 14px
		color: #fff
		position: relative
		text-decoration: none
		margin-bottom: 20px
		&:before
			content: ''
			display: block
			position: absolute
			top: 50%
			margin-top: -12px
			left: 0px
			height: 24px
			width: 24px
			margin-right: 10px
			background: url(../img/icons/presentation.svg) no-repeat
	.social
		overflow: hidden
		margin-bottom: 20px
		li
			float: left
			margin-left: 20px
			a
				display: block
				width: 24px
				height: 24px
				&.fc
					background: url(../img/icons/social/fc.svg) center no-repeat
				&.ins
					background: url(../img/icons/social/ins.svg) center no-repeat
				&:hover
					&.fc
						background: url(../img/icons/social/fc-hover.svg) center no-repeat
					&.ins
						background: url(../img/icons/social/ins-hover.svg) center no-repeat

.bot-side
	padding-top: 20px
	overflow: hidden
	p
		font-size: 14px
		color: #909399
	.footer-nav
		overflow: hidden
		li
			float: left
			a
				font-size: 14px
				color: #909399
				padding: 0 15px
				&:hover
					color: #fff


@media (min-width: 320px) and (max-width: 767px)

	footer
		padding: 30px 0
		.row
			margin: 0
		.top-side
			.social
				margin-bottom: 10px
			.download
				margin-bottom: 10px
		.bot-side
			padding-top: 10px
			text-align: center
			.pull-left, .pull-right
				float: none !important
			.footer-nav
				padding-top: 10px
				li
					float: none
					display: inline-block