// header //
header
	background-size: cover !important

.main-navigation
	background: rgba(23, 23, 23, 0.85)
	border: none
	border-radius: 0
	padding: 0
	position: relative
	margin: 0
	&:after
		content: ''
		display: block
		position: absolute
		bottom: 0
		height: 1px
		width: 100%
		background: rgba(255, 255, 255, 0.1)
	.logo
		display: block
		height: auto
		padding: 20px 60px 19px 0
		transition: all 0.3s
		margin: 0 !important
		line-height: 0
		&:hover
			transform: scale(1.03)
	.language
		float: right
		padding: 19px 0 21px
		button
			border: 0
			background: none
			line-height: 40px
			font-size: 14px
			text-transform: uppercase
			color: #DCDFE6
			padding: 0 25px
			letter-spacing: 0.5px
		.dropdown-menu
			min-width: 100%
			box-shadow: none
			background: $suplementary
			border: 0
			padding: 0
			overflow: hidden
			top: 70%
			li
				a
					color: #fff
					text-transform: uppercase
					font-size: 13px
					&:hover
						background: $primaryBlock
	.phone
		float: right
		margin-left: 40px
		padding: 20px 0 19px 0
		span
			display: block
			font-size: 12px
			color: $suplementary
		a
			color: #fff
			text-decoration: none
			font-size: 16px
			font-weight: 700
	.main-btn
		float: right
		margin: 18px 0 20px 23px
		display: inline-block
		height: 40px

.menu
	padding: 0
	li
		padding: 0
		a
			padding: 25px 35px
			line-height: 30px
			color: $suplementary !important
			position: relative
			&:before
				content: ''
				position: absolute
				top: 50%
				display: block
				margin-top: -10px
				height: 20px
				width: 1px
				right: 0
				background: rgba(255, 255, 255, 0.1)
			&:after
				content: ''
				position: absolute
				width: 0
				bottom: 0
				left: 0
				height: 2px
				background: $primaryBlock
				transition: all .5s
			&:focus
				color: $suplementary !important
			&:hover
				color: #fff !important
				&:after
					width: 100%
		&.active
			position: relative
			a
				background: none !important
				color: #fff !important
				&:after
					content: ''
					position: absolute
					width: 100%
					bottom: 0
					left: 0
					right: 0
					height: 2px
					background: $primaryBlock
		&:last-child
			a
				&:before
					display: none

@media (min-width: 992px) and (max-width: 1199px)

	// header start
	.main-navigation
		.navbar-collapse
			padding: 0
		.logo
			padding: 10px 30px 10px 0
			margin: 0 !important
		.language
			padding: 17px 0 10px
			button
				padding: 0 25px
		.phone
			margin-left: 20px
			padding: 10px 0
			span
				line-height: 19px
		.main-btn
			margin: 10px 0 10px 25px
			line-height: 40px
	.menu
		li
			a
				padding: 15px 25px
// header end

@media (min-width: 768px) and (max-width: 992px)

	// header start
	.main-navigation
		.navbar-collapse
			padding: 0
		.logo
			padding: 11px 30px 10px 0
			margin: 0 !important
			height: auto
		.language
			padding: 14px 0
			button
				padding: 0 15px
				line-height: 30px
		.phone
			margin-left: 10px
			padding: 13px 0 10px
			span
				line-height: 15px
			a
				font-size: 14px
				line-height: 15px
		.main-btn
			margin: 11px 0 9px 10px
			padding: 0 15px
			line-height: 40px
	.menu
		li
			a
				padding: 15px
				font-size: 13px
// header end

@media (min-width: 480px) and (max-width: 767px)

	header
		background-position: center center !important
		background-size: auto 100%!important

	// header start
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover
		background: #1c1c1c
	.navbar-default .navbar-collapse, .navbar-default .navbar-form
		border-color: $primaryBlock
	// header start
	.main-navigation
		.navbar-header
			padding: 10px
			text-align: center
			.navbar-toggle
				margin: 3px 0 0
				border-color: $primaryBlock
				.icon-bar
					background-color: $primaryBlock
			.language
				padding: 0 10px
				margin: 0
				float: left
				position: relative
				width: 35%
				button
					padding: 0 15px
					line-height: 37px
				.dropdown-menu
					min-width: 100%
					top: 85%
			.phone
				margin: 0
				padding: 4px 0 0
				float: left
				width: 35%
				span
					line-height: 13px
				a
					font-size: 14px
					line-height: 15px
			.logo
				padding: 0
				margin: 0 !important
				height: auto
				float: left
				min-width: 50px
		.navbar-collapse
			padding: 0
			text-align: center
		.main-btn
			margin: 10px 15px
			padding: 0 40px
			line-height: 40px
			float: none
			display: inline-block
	.menu
		margin: 0
		li
			a
				padding: 5px 15px
				font-size: 13px
				line-height: 24px
				text-align: center
				&:after
					height: 1px
					width: 100%
					background: rgba(255,255,255,0.1)
				&:before
					display: none
			&.active
				a
					&:after
						height: 1px

// header end

@media (min-width: 320px) and (max-width: 479px)

	header
		background-position: center center !important
		background-size: auto 100%!important

	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover
		background: #1c1c1c
	// header start
	.main-navigation
		.navbar-header
			position: relative
			padding: 10px
			.navbar-toggle
				border-color: $primaryBlock
				position: absolute
				margin: 0
				top: 10px
				right: 10px
				.icon-bar
					background-color: $primaryBlock
			.language
				padding: 0 10px
				margin: 0 50px
				float: none
				position: relative
				width: calc(100% - 100px)
				text-align: center
				button
					padding: 0 15px
					line-height: 37px
				.dropdown-menu
					min-width: 50px
					top: 85%
					left: 50%
					margin-left: -25%
			.phone
				margin: 0 auto
				padding: 4px 0 0
				float: none
				width: 100%
				text-align: center
				span
					line-height: 13px
				a
					font-size: 14px
					line-height: 15px
					display: block
			.logo
				padding: 0
				margin: 0 !important
				height: auto
				float: left
				min-width: 50px
		.navbar-collapse
			padding: 0
			text-align: center
		.main-btn
			height: 30px
			margin: 10px 15px
			padding: 0 40px
			line-height: 30px
			float: none
			display: inline-block
	.menu
		margin: 0
		li
			a
				padding: 5px 15px
				font-size: 13px
				line-height: 24px
				text-align: center
				&:after
					height: 1px
					width: 100%
					background: rgba(255,255,255,0.1)
				&:before
					display: none
			&.active
				a
					&:after
						height: 1px

// header end