.services-inner-projects
	.container
		.row
			h2.subtitle Примеры работ
			ul.services-inner-projects.projects-list
				include _block-projects_item
				include _block-projects_item
				include _block-projects_item