
#main

	// header
	header(style='background: url(../img/banners/main.jpg) center top no-repeat')
		include ../../components/_header
		include partials/_block-banner
	// content
	include partials/block-services/_block-services
	include partials/block-projects/_block-projects
	include partials/block-reviews/_block-reviews
	include partials/_block-tech
	include partials/_block-mitapp
	include partials/block-news/_block-news
	include partials/_block-callback
	//footer
	include ../../components/_footer
	include ../../components/_modal
