#main
	// header
	header(style='background: url(../img/banners/about-page.jpg) center top no-repeat').inner-pages
		include ../../components/_header
		include partials/_block-banner
	// content
	include partials/_block-info
	include partials/block-team/_block-team
	include partials/block-clients/_block-clients



	//footer
	include ../../components/_footer
	include ../../components/_modal
