.team
	.container
		.row
			h2 Команда
			ul.team-list
				include _block-team_item
				include _block-team_item
				include _block-team_item
				include _block-team_item
				include _block-team_item
				include _block-team_item
				include _block-team_item


