.services
	.container
		.row
			h2.subtitle Наши услуги
			p.sub-descr Команда MITAPP постоянно следит за развитием и тенденциями в сфере ИТ. Мы активно применяем на практике самые современные технологии.
			ul.services-list
				include _block-services_item
				include _block-services_item
				include _block-services_item
				include _block-services_item
				include _block-services_item
				include _block-services_item