
.team
	padding-bottom: 30px
	h2
		text-align: left
		font-family: $exo
		font-size: 36px
		font-weight: 700
		margin-bottom: 40px
		color: #fff
		margin-top: 38px
.team-list
	overflow: hidden
	li
		float: left
		width: 25%
		position: relative
		.img-wrapper
			width: 100%
			height: 100%
			position: relative
			overflow: hidden
			&:before
				content: ''
				display: block
				position: absolute
				top: 0
				bottom: 0
				left: 0
				right: 0
				background: rgba(72,72,72,0.23)
				z-index: 1
				transition: all .3s
			img
				position: absolute
				display: block
				margin: auto
				top: -9999px
				bottom: -9999px
				left: -9999px
				right: -9999px
				width: auto
				height: auto
				z-index: 0
		h3
			position: absolute
			bottom: 20px
			left: 0
			right: 0
			text-align: center
			font-size: 16px
			line-height: 20px
			font-weight: 700
			z-index: 2
			color: #fff
			span
				display: block
				font-size: 0
				font-weight: 400
				color: #C0C4CC
				line-height: 16px
				transition: all .4s
		&:hover
			.img-wrapper
				&:before
					background: rgba(72,72,72,0.6)
			h3
				span
					font-size: 16px


@media (min-width: 480px) and (max-width: 767px)

	.team
		.row
			margin: 0
	.team-list
		li
			width: 33.3%

@media (min-width: 320px) and (max-width: 479px)

	.team
		.row
			margin: 0
	.team-list
		li
			width: 50%