
.clients-carousel
	padding: 40px 0 70px
	.item
		.col-sm-3
			text-align: center
			box-sizing: border-box
			padding: 10px
			.wrap
				padding: 34px 0
			&:nth-child(odd)
				.wrap
					background: #1C1C1C
			img
				width: 80px
				height: 80px
				display: inline-block
				margin-bottom: 10px
			h4
				color: #fff
				font-size: 20px
				font-weight: 700
				margin-bottom: 20px
			p
				font-size: 14px
				color: #909399
	.carousel-indicators
		li
			width: 8px
			height: 8px
			background: #484848
			border-color: #484848
			margin: 0
			&.active
				background: #909399
				border-color: #909399

@media (min-width: 480px) and (max-width: 767px)

	.clients
		.row
			margin: 0

@media (min-width: 320px) and (max-width: 479px)

	.clients
		.row
			margin: 0