
.info-block
	padding-bottom: 10px

.info-list
	overflow: hidden
	display: block
	width: 100%
	box-sizing: border-box
	padding: 20px 35px
	li
		float: left
		width: 200px
		margin-right: 100px
		&:last-child
			margin-right: 0
		h4
			font-size: 72px
			font-weight: 700
			color: #fff
			padding-bottom: 24px
			position: relative
			&:after
				content: ''
				display: block
				width: 40px
				height: 4px
				background: $primaryBlock
				position: absolute
				bottom: 0
				left: 0
		p
			padding: 20px 0 0
			font-size: 14px
			line-height: 20px

@media (min-width: 768px) and (max-width: 991px)

	.info-list
		text-align: center
		li
			display: inline-block
			text-align: left
			float: none
			margin: 0 20px 20px

@media (min-width: 480px) and (max-width: 767px)

	.info-list
		text-align: center
		padding: 20px 10px
		li
			display: inline-block
			text-align: left
			float: none
			margin: 0 5px 20px
			width: calc((100% - 40px) / 2)

@media (min-width: 320px) and (max-width: 479px)

	.info-list
		text-align: center
		padding: 20px 10px
		li
			display: inline-block
			text-align: left
			float: none
			margin: 0 0 20px
			width: 100%