
.mitapp
	.container
		.row
			.col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1
				h2 Mitapp это —
				p You do not choose your reputation. To be loved and trusted is not easy, it takes years. Building a brand is
					b developing a relationship
					| with your customer. That’s where we step in. We uncover your essence. We turn skeptics into customers, customers into loyal fans.
				p We are a rapidly growing group of open-minded people, sometimes a little crazy, perfectionists, who love white space and observe every detail.
					b We are designers, developers, product managers
					| but above all people who love what they do and always give their best.