
.callback
	.container
		.row
			.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
				.row
					h2 Вам интересно  что мы делаем?
					p Хотите подробнее узнать о STS или заказать подобный проект? Отправьте сообщение и мы свяжемся с вами
					img(src="img/mac.svg" title='')
					form(action='')
						.form-group.col-md-6.col-sm-6
							input.form-control(type='text' placeholder='Имя')
						.form-group.col-md-6.col-sm-6
							input.form-control(type='email' placeholder='E-mail')
						.form-group.col-md-6.col-sm-6
							input.form-control(type='phone' placeholder='Телефон')
						.form-group.col-md-6.col-sm-6
							select.form-control
								option Web
								option Mobile
								option Design
								option It
						button.btn.btn-default.main-btn(type='submit') Отправить