
.banner
	.container
		.row
			h1
				| Мы занимаемся созданием
				span сайтов и интерфейсов
			p.descr Наша команда разработчиков, дизайнеров, тестировщиков и руководителей проектов сфокусирована на разработке особенных интернет-продуктов
			form.main-form.form-inline(action='')
				p
					span Получите
					| бесплатную консультацию
				.form-group
					input#phone.form-control(type='phone' placeholder='Телефон')
				.form-group
					input#email.form-control(type='email' placeholder='E-mail')
				button.btn.main-btn(type='submit') Отправить
			ul.partners
				li
					a(href='#' title='')
						img(src='img/logo/partners/partner_veon.svg' width='80' height='80' title='')
				li
					a(href='#' title='')
						img(src='img/logo/partners/partner_beeline.svg' width='80' height='80' title='')
				li
					a(href='#' title='')
						img(src='img/logo/partners/partner_integra.svg' width='80' height='80' title='')
				li
					a(href='#' title='') Скачать
						br
						| презентацию

