.tech
    .container
        .row
            .col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1
                h2 Технологии
                p Команда MITAPP постоянно следит за развитием и тенденциями в сфере ИТ. Мы активно применяем на практике самые современные технологии.
                ul.tech-list
                    li
                        img(src='img/logo/tech/asp.svg' title='')
                    li
                        img(src='img/logo/tech/c.svg' title='')
                    li
                        img(src='img/logo/tech/android.svg' title='')
                    li
                        img(src='img/logo/tech/js.svg' title='')
                    li
                        img(src='img/logo/tech/swift.svg' title='')
                    li
                        img(src='img/logo/tech/java.svg' title='')