.info-block
	.container
		.row
			.col-sm-10.col-sm-offset-1
				h2.subtitle Мы команда профессионалов, которые рады предоставить свои услуги
				p.sub-descr Студия веб дизайна «MITAPP» — это команда профессионалов с огромным опытом работы. В сфере веб-дизайна наша миссия — создание сайтов, которые являются эффективными маркетинговыми инструментами для наших клиентов.
			ul.info-list
				li
					h4 40+
					p Креативный подход студии создания сайтов WebProfy в сфере веб—дизайна — преимущество.
				li
					h4 7
					p Креативный подход студии создания сайтов WebProfy в сфере веб—дизайна — преимущество.
				li
					h4 10
					p Креативный подход студии создания сайтов WebProfy в сфере веб—дизайна — преимущество.
				li
					h4 10
					p Креативный подход студии создания сайтов WebProfy в сфере веб—дизайна — преимущество.