

.projects-nav-block
	overflow: hidden
	position: absolute
	height: 70px
	bottom: 0
	left: 0
	right: 0

.controls
	padding: 30px 0 0
	z-index: 1
	li
		display: inline-block
		width: calc((100% - 80px) / 4)
		margin-right: 20px
		&:last-child
			margin-right: 0


button.filter
	display: inline-block
	padding: 0 auto
	border: 1px solid rgba(255,255,255,0.2)
	color: #C0C4CC
	font-size: 16px
	border-radius: 4px
	cursor: pointer
	background: none
	width: 100%
	line-height: 36px
	height: 40px
	box-sizing: border-box
	&:hover
		cursor: pointer
		border-color: #17B184
		color: #fff
	&.active
		border-color: #17B184
		color: #fff
	&:focus
		outline: 0 none
	+ label
		margin-left: 1em



#projects-list
	-webkit-backface-visibility: hidden
	.mix
		display: inline-block
	.mix
		display: none
	li
		margin: 0 10px 20px 0
		width: calc((100% - 40px) / 3)
		&:nth-child(2n)
			margin:  0 10px 20px 0
		&:nth-child(3n)
			margin: 0 0 20px 0




@media (min-width: 992px) and (max-width: 1200px)

	.projects-list li a .content .tags span
		margin-bottom: 5px

	.projects-list
		padding: 20px 30px

@media (min-width: 768px) and (max-width: 991px)

	.projects-nav-block
		height: 150px
	.projects-banner
		padding-bottom: 160px !important
	#projects-list
		li
			width: calc((100% - 30px) / 2)
			margin: 0 5px 20px
			&:nth-child(even)
				margin: 0 5px 20px
			&:nth-child(odd)
				margin: 0 5px 20px
			a
				.content
					.tags
						span
							margin-bottom: 5px

	.projects-list
		padding: 20px 30px

@media (min-width: 480px) and (max-width: 767px)

	.projects-nav-block
		height: 175px
	.projects-banner
		padding-bottom: 180px !important
	#projects-list
		li
			width: calc((100% - 30px) / 2)
			margin: 0 5px 20px
			&:nth-child(even)
				margin: 0 5px 20px
			&:nth-child(odd)
				margin: 0 5px 20px
			a
				.content
					.tags
						span
							margin-bottom: 5px

	.projects-list
		padding: 20px 0
		display: block
	.controls
		padding: 0
		li
			width: calc((100% - 30px) / 2)
			margin: 0 10px 10px 0

@media (min-width: 320px) and (max-width: 479px)

	.projects-nav-block
		height: auto
		position: static
	.projects-banner
		padding-bottom: 30px
	#projects-list
		li
			width: 100%
			margin: 0 0 10px !important
			&:nth-child(even)
				margin: 0 10px
			&:nth-child(odd)
				margin: 0 10px
			a
				.content
					.tags
						span
							margin-bottom: 5px

	.projects-list
		padding: 20px 0
		display: block
		.row
			margin: 0
	.controls
		padding: 0
		li
			width: calc(100% - 20px)
			margin: 0 10px 5px

