doctype
html(lang='en-gb', dir='ltr')
    head
        include assets/_metas.pug
        include assets/_links.pug
    body
        include pages/main-page/_index.pug
        include assets/_scripts.pug
