
.contacts
	.container
		.row
			.col-md-6
				h1 Контакты
				.contact-items
					p
						i
						| E-mail
					span mittapp@gmail.com
				.contact-items
					p
						i
						| Телефон
					span +996 (773) 28-86-44
				.contact-items
					p
						i
						| Адрес
					span г.Бишкек, Восток-5 Гражданская 53
				.contact-items
					p
						i
						| Соц.сети
					span Facebook / Instagram
			.col-md-6
				iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2923.8475342903125!2d74.6308847153885!3d42.87606211035092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb7a5cb7cc1c3%3A0x6a0128e5034d5ac0!2zNTMg0YPQuy4g0JPRgNCw0LbQtNCw0L3RgdC60LDRjywg0JHQuNGI0LrQtdC6!5e0!3m2!1sru!2skg!4v1545644308390', width='100%', height='400', frameborder='0', style='border:0', allowfullscreen='')

