.project-step
	.container
		.row
			h2.subtitle Что мы внесли в проект?
			.col-md-12.leftImg.project-step-block
				.row
					.col-md-4.col-sm-5
						span 1
						h3 Мобильное приложение
						p С помощью Balance абоненты могут оплатить все услуги Кыргызстана через баланс телефонного счета. Если Вам отправили деньги, вы можете перевести их на Банковскую карту или обналичить в кассах Банков-партнеров.
						p Функционал приложения и количество сервисов постоянно пополняются, cледите за обновлениями.
					.col-md-7.col-md-offset-1.col-sm-7
						img(src='img/jpg/mockup.png')
			.col-md-12.rightImg.project-step-block
				.row
					.col-md-7.col-sm-7
						img(src='img/jpg/mockup.png')
					.col-md-4.col-md-offset-1.col-sm-5
						span 2
						h3 Адаптивность сайта
						p С помощью Balance абоненты могут оплатить все услуги Кыргызстана через баланс телефонного счета. Если Вам отправили деньги, вы можете перевести их на Банковскую карту или обналичить в кассах Банков-партнеров.
						p Функционал приложения и количество сервисов постоянно пополняются, cледите за обновлениями.

