
.banner
	.inner-wrap
	.container
		.row
			ul.breadcrumb
				li
					a(href='#') Главная
				li О нас
			h1.project-name BALANCE
			.col-md-8.col-md-offset-2.nopadding
				ul.about-project-list
					li
						h4 КАТЕГОРИЯ
						p Финансы
					li
						h4 СТРАНА
						p Кыргызстан
					li
						h4 ЗАКАЗЧИК
						p Beeline Kyrgyzstan
					li
						h4 ДНИ НА РАЗРАБОТКУ
						p 2 МЕСЯЦА
				.tags.project-tags
					span web
					span iOs
					span Android
			#myCarousel.col-md-8.col-md-offset-2.carousel.slide(data-ride='carousel')
				// Indicators
				ol.carousel-indicators
					li.active(data-target='#myCarousel', data-slide-to='0')
					li(data-target='#myCarousel', data-slide-to='1')
					li(data-target='#myCarousel', data-slide-to='2')
				// Wrapper for slides
				.carousel-inner
					.item.active
						img(src='img/jpg/carousel-item.png', alt='')
					.item
						img(src='img/jpg/carousel-item.png', alt='')
					.item
						img(src='img/jpg/carousel-item.png', alt='')
				// Left and right controls
				a.left.carousel-control(href='#myCarousel', data-slide='prev')
				a.right.carousel-control(href='#myCarousel', data-slide='next')
			.col-md-8.col-md-offset-2.project-descr
				p С помощью Balance абоненты могут оплатить все услуги Кыргызстана через баланс телефонного счета. Если Вам отправили деньги, вы можете перевести их на Банковскую карту или обналичить в кассах Банков-партнеров. Функционал приложения и количество сервисов постоянно пополняются, cледите за обновлениями.
			.clearfix
			ul.properties.text-center
				li.col-md-4
					span
						img(src='img/icons/project/1.svg')
					h5 Системность
					p Для таких известных брендов как Apple, очень важно, чтобы сайт соответствовал общей стилистике бренда и наши дизайнеры справились с этой задачей полностью
				li.col-md-4
					span
						img(src='img/icons/project/2.svg')
					h5 Простота
					p Максимально простой и понятный для пользователя интерфейс, положительно скажется на конверсии вашего сайта.
				li.col-md-4
					span
						img(src='img/icons/project/3.svg')
					h5 Системность
					p Интуитивно понятная навигация,это очень важно. Согласно правилам интернет-маркетинга, клиент должен достичь любой цели на вашем сайте, всего лишь за 3 клика