#myCarousel1.col-md-8.col-md-offset-2.carousel.slide(data-ride='carousel')
	// Indicators
	ol.carousel-indicators
		li.active(data-target='#myCarousel1', data-slide-to='0')
		li(data-target='#myCarousel1', data-slide-to='1')
	// Wrapper for slides
	.carousel-inner
		.item.active
			.col-md-6.project-carousel-item
				a(href='#')
					img(src='img/jpg/projects-item.jpg' title='')
					.content
						h4 BALANCE
						.tags
							span web
							span iOs
							span Android
			.col-md-6.project-carousel-item
				a(href='#')
					img(src='img/jpg/projects-item.jpg' title='')
					.content
						h4 BALANCE
						.tags
							span web
							span iOs
							span Android
		.item
			.col-md-6.project-carousel-item
				a(href='#')
					img(src='img/jpg/projects-item.jpg' title='')
					.content
						h4 BALANCE
						.tags
							span web
							span iOs
							span Android
			.col-md-6.project-carousel-item
				a(href='#')
					img(src='img/jpg/projects-item.jpg' title='')
					.content
						h4 BALANCE
						.tags
							span web
							span iOs
							span Android
	// Left and right controls
	a.left.carousel-control(href='#myCarousel1', data-slide='prev')
	a.right.carousel-control(href='#myCarousel1', data-slide='next')