.projects
	.container
		.row
			h2.subtitle Последние проекты
			ul.projects-list
				include _block-projects_item
				include _block-projects_item
				include _block-projects_item
				include _block-projects_item
			a(href='#' title='').load-more
				span Все проекты
