#main
	// header
	header.inner-pages
		include ../../components/_header
		include partials/_block-banner
	// content
	include partials/_block-news-content
	//footer
	include ../../components/_footer
	include ../../components/_modal
