#main
	// header
	header(style='background: url(../img/banners/news.jpg) center top no-repeat').inner-pages
		include ../../components/_header
		include partials/_block-banner
	// content
	include partials/block-news-list/_block-news_list
	//footer
	include ../../components/_footer
	include ../../components/_modal
