@charset "UTF-8";
/***** Базовые стили *****/
/******************************************/
/******************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

input, button, textarea, button {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none; }
  input:focus, button:focus, textarea:focus, button:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: 0 !important; }

a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: 0;
  text-decoration: none; }
  a:hover, a:focus {
    background: none;
    outline: 0 !important; }

body {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  background: #171717;
  color: #909399; }

#main {
  overflow: hidden; }

.main-btn {
  background: #17B184;
  color: #fff;
  font-size: 14px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 0 30px;
  text-decoration: none;
  line-height: 40px;
  height: 48px;
  border: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: 0; }
  .main-btn:hover, .main-btn:focus {
    background: #1ECB98;
    color: #fff; }
  .main-btn:active {
    background: #17B184; }

h1 {
  margin: 130px 0 20px;
  padding: 0 0 20px;
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-size: 40px;
  line-height: 44px; }
  h1 span {
    display: block;
    color: #17B184; }
  h1:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 4px;
    background: #17B184; }

.descr {
  font-size: 16px;
  line-height: 24px;
  color: #C0C4CC;
  width: 45%;
  margin: 0 0 66px; }

.form-control {
  height: 48px; }

h2.subtitle {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  margin: 62px 0 16px;
  color: #fff;
  text-align: center;
  letter-spacing: 1px; }

p.sub-descr {
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
  color: #909399;
  width: 70%;
  margin: 0 auto 40px; }

.popover {
  background: #171717;
  border: 1px solid #909399; }
  .popover .popover-title {
    background: #171717;
    border: none;
    color: #fff;
    padding-bottom: 0; }
  .popover .popover-content {
    background: #171717;
    color: #fff; }
  .popover .arrow:after {
    border-top-color: #909399 !important; }

.breadcrumb {
  background: none;
  padding: 18px 0;
  margin: 0; }
  .breadcrumb li {
    padding: 0 19px;
    position: relative; }
    .breadcrumb li:first-child {
      padding-left: 0; }
    .breadcrumb li a {
      color: #fff;
      text-decoration: none;
      position: relative; }

.breadcrumb > li + li {
  padding-left: 27px; }

.breadcrumb > li + li:before {
  content: '';
  display: block;
  width: 8px;
  height: 12px;
  background: url(../img/icons/breadcrumbs-arrow.svg) center no-repeat;
  position: absolute;
  left: 0;
  bottom: 4px; }

.inner-pages .banner {
  padding-bottom: 60px; }
  .inner-pages .banner h1 {
    margin-top: 69px; }
  .inner-pages .banner .descr {
    margin-bottom: 40px; }

.nopadding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.pagination {
  z-index: 11;
  margin: 0;
  padding: 30px 0 0;
  text-align: right; }
  .pagination li a {
    line-height: 40px;
    height: 40px;
    width: 40px;
    padding: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: none;
    color: #909399;
    font-size: 14px; }
    .pagination li a:hover {
      border-color: #17B184;
      color: #fff;
      background: none; }
  .pagination li.empty a {
    background: none;
    border: none; }
  .pagination li.active a {
    background: none;
    border-color: #17B184;
    color: #fff; }
    .pagination li.active a:hover {
      background: none;
      border-color: #17B184; }
  .pagination li.disabled a {
    background: none;
    cursor: default; }
    .pagination li.disabled a:hover {
      background: none; }
  .pagination.numbers:last-child a {
    -webkit-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
            border-bottom-right-radius: 4px; }

@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 32px;
    margin-top: 80px;
    line-height: 32px; }
  .descr {
    width: 70%;
    margin-bottom: 30px; }
  h2.subtitle {
    font-size: 30px;
    line-height: 30px;
    margin-top: 40px; }
  p.sub-descr {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
    width: 80%; } }

@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 32px;
    margin-top: 40px;
    line-height: 32px; }
  .descr {
    width: 100%;
    margin-bottom: 20px; }
  h2.subtitle, h2 {
    font-size: 28px !important;
    line-height: 30px;
    margin-top: 40px; }
  p.sub-descr {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    width: 90%; } }

/***** Основные *****/
header {
  background-size: cover !important; }

.main-navigation {
  background: rgba(23, 23, 23, 0.85);
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  padding: 0;
  position: relative;
  margin: 0; }
  .main-navigation:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1); }
  .main-navigation .logo {
    display: block;
    height: auto;
    padding: 20px 60px 19px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0 !important;
    line-height: 0; }
    .main-navigation .logo:hover {
      -webkit-transform: scale(1.03);
          -ms-transform: scale(1.03);
              transform: scale(1.03); }
  .main-navigation .language {
    float: right;
    padding: 19px 0 21px; }
    .main-navigation .language button {
      border: 0;
      background: none;
      line-height: 40px;
      font-size: 14px;
      text-transform: uppercase;
      color: #DCDFE6;
      padding: 0 25px;
      letter-spacing: 0.5px; }
    .main-navigation .language .dropdown-menu {
      min-width: 100%;
      -webkit-box-shadow: none;
              box-shadow: none;
      background: #909399;
      border: 0;
      padding: 0;
      overflow: hidden;
      top: 70%; }
      .main-navigation .language .dropdown-menu li a {
        color: #fff;
        text-transform: uppercase;
        font-size: 13px; }
        .main-navigation .language .dropdown-menu li a:hover {
          background: #17B184; }
  .main-navigation .phone {
    float: right;
    margin-left: 40px;
    padding: 20px 0 19px 0; }
    .main-navigation .phone span {
      display: block;
      font-size: 12px;
      color: #909399; }
    .main-navigation .phone a {
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      font-weight: 700; }
  .main-navigation .main-btn {
    float: right;
    margin: 18px 0 20px 23px;
    display: inline-block;
    height: 40px; }

.menu {
  padding: 0; }
  .menu li {
    padding: 0; }
    .menu li a {
      padding: 25px 35px;
      line-height: 30px;
      color: #909399 !important;
      position: relative; }
      .menu li a:before {
        content: '';
        position: absolute;
        top: 50%;
        display: block;
        margin-top: -10px;
        height: 20px;
        width: 1px;
        right: 0;
        background: rgba(255, 255, 255, 0.1); }
      .menu li a:after {
        content: '';
        position: absolute;
        width: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        background: #17B184;
        -webkit-transition: all .5s;
        transition: all .5s; }
      .menu li a:focus {
        color: #909399 !important; }
      .menu li a:hover {
        color: #fff !important; }
        .menu li a:hover:after {
          width: 100%; }
    .menu li.active {
      position: relative; }
      .menu li.active a {
        background: none !important;
        color: #fff !important; }
        .menu li.active a:after {
          content: '';
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 0;
          right: 0;
          height: 2px;
          background: #17B184; }
    .menu li:last-child a:before {
      display: none; }

@media (min-width: 992px) and (max-width: 1199px) {
  .main-navigation .navbar-collapse {
    padding: 0; }
  .main-navigation .logo {
    padding: 10px 30px 10px 0;
    margin: 0 !important; }
  .main-navigation .language {
    padding: 17px 0 10px; }
    .main-navigation .language button {
      padding: 0 25px; }
  .main-navigation .phone {
    margin-left: 20px;
    padding: 10px 0; }
    .main-navigation .phone span {
      line-height: 19px; }
  .main-navigation .main-btn {
    margin: 10px 0 10px 25px;
    line-height: 40px; }
  .menu li a {
    padding: 15px 25px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .main-navigation .navbar-collapse {
    padding: 0; }
  .main-navigation .logo {
    padding: 11px 30px 10px 0;
    margin: 0 !important;
    height: auto; }
  .main-navigation .language {
    padding: 14px 0; }
    .main-navigation .language button {
      padding: 0 15px;
      line-height: 30px; }
  .main-navigation .phone {
    margin-left: 10px;
    padding: 13px 0 10px; }
    .main-navigation .phone span {
      line-height: 15px; }
    .main-navigation .phone a {
      font-size: 14px;
      line-height: 15px; }
  .main-navigation .main-btn {
    margin: 11px 0 9px 10px;
    padding: 0 15px;
    line-height: 40px; }
  .menu li a {
    padding: 15px;
    font-size: 13px; } }

@media (min-width: 480px) and (max-width: 767px) {
  header {
    background-position: center center !important;
    background-size: auto 100% !important; }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: #1c1c1c; }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #17B184; }
  .main-navigation .navbar-header {
    padding: 10px;
    text-align: center; }
    .main-navigation .navbar-header .navbar-toggle {
      margin: 3px 0 0;
      border-color: #17B184; }
      .main-navigation .navbar-header .navbar-toggle .icon-bar {
        background-color: #17B184; }
    .main-navigation .navbar-header .language {
      padding: 0 10px;
      margin: 0;
      float: left;
      position: relative;
      width: 35%; }
      .main-navigation .navbar-header .language button {
        padding: 0 15px;
        line-height: 37px; }
      .main-navigation .navbar-header .language .dropdown-menu {
        min-width: 100%;
        top: 85%; }
    .main-navigation .navbar-header .phone {
      margin: 0;
      padding: 4px 0 0;
      float: left;
      width: 35%; }
      .main-navigation .navbar-header .phone span {
        line-height: 13px; }
      .main-navigation .navbar-header .phone a {
        font-size: 14px;
        line-height: 15px; }
    .main-navigation .navbar-header .logo {
      padding: 0;
      margin: 0 !important;
      height: auto;
      float: left;
      min-width: 50px; }
  .main-navigation .navbar-collapse {
    padding: 0;
    text-align: center; }
  .main-navigation .main-btn {
    margin: 10px 15px;
    padding: 0 40px;
    line-height: 40px;
    float: none;
    display: inline-block; }
  .menu {
    margin: 0; }
    .menu li a {
      padding: 5px 15px;
      font-size: 13px;
      line-height: 24px;
      text-align: center; }
      .menu li a:after {
        height: 1px;
        width: 100%;
        background: rgba(255, 255, 255, 0.1); }
      .menu li a:before {
        display: none; }
    .menu li.active a:after {
      height: 1px; } }

@media (min-width: 320px) and (max-width: 479px) {
  header {
    background-position: center center !important;
    background-size: auto 100% !important; }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: #1c1c1c; }
  .main-navigation .navbar-header {
    position: relative;
    padding: 10px; }
    .main-navigation .navbar-header .navbar-toggle {
      border-color: #17B184;
      position: absolute;
      margin: 0;
      top: 10px;
      right: 10px; }
      .main-navigation .navbar-header .navbar-toggle .icon-bar {
        background-color: #17B184; }
    .main-navigation .navbar-header .language {
      padding: 0 10px;
      margin: 0 50px;
      float: none;
      position: relative;
      width: -webkit-calc(100% - 100px);
      width: calc(100% - 100px);
      text-align: center; }
      .main-navigation .navbar-header .language button {
        padding: 0 15px;
        line-height: 37px; }
      .main-navigation .navbar-header .language .dropdown-menu {
        min-width: 50px;
        top: 85%;
        left: 50%;
        margin-left: -25%; }
    .main-navigation .navbar-header .phone {
      margin: 0 auto;
      padding: 4px 0 0;
      float: none;
      width: 100%;
      text-align: center; }
      .main-navigation .navbar-header .phone span {
        line-height: 13px; }
      .main-navigation .navbar-header .phone a {
        font-size: 14px;
        line-height: 15px;
        display: block; }
    .main-navigation .navbar-header .logo {
      padding: 0;
      margin: 0 !important;
      height: auto;
      float: left;
      min-width: 50px; }
  .main-navigation .navbar-collapse {
    padding: 0;
    text-align: center; }
  .main-navigation .main-btn {
    height: 30px;
    margin: 10px 15px;
    padding: 0 40px;
    line-height: 30px;
    float: none;
    display: inline-block; }
  .menu {
    margin: 0; }
    .menu li a {
      padding: 5px 15px;
      font-size: 13px;
      line-height: 24px;
      text-align: center; }
      .menu li a:after {
        height: 1px;
        width: 100%;
        background: rgba(255, 255, 255, 0.1); }
      .menu li a:before {
        display: none; }
    .menu li.active a:after {
      height: 1px; } }

footer {
  padding: 60px 0; }

.top-side {
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .top-side .download {
    -webkit-border-radius: 4px;
            border-radius: 4px;
    padding: 5px 0 5px 35px;
    display: block;
    font-size: 14px;
    color: #fff;
    position: relative;
    text-decoration: none;
    margin-bottom: 20px; }
    .top-side .download:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -12px;
      left: 0px;
      height: 24px;
      width: 24px;
      margin-right: 10px;
      background: url(../img/icons/presentation.svg) no-repeat; }
  .top-side .social {
    overflow: hidden;
    margin-bottom: 20px; }
    .top-side .social li {
      float: left;
      margin-left: 20px; }
      .top-side .social li a {
        display: block;
        width: 24px;
        height: 24px; }
        .top-side .social li a.fc {
          background: url(../img/icons/social/fc.svg) center no-repeat; }
        .top-side .social li a.ins {
          background: url(../img/icons/social/ins.svg) center no-repeat; }
        .top-side .social li a:hover.fc {
          background: url(../img/icons/social/fc-hover.svg) center no-repeat; }
        .top-side .social li a:hover.ins {
          background: url(../img/icons/social/ins-hover.svg) center no-repeat; }

.bot-side {
  padding-top: 20px;
  overflow: hidden; }
  .bot-side p {
    font-size: 14px;
    color: #909399; }
  .bot-side .footer-nav {
    overflow: hidden; }
    .bot-side .footer-nav li {
      float: left; }
      .bot-side .footer-nav li a {
        font-size: 14px;
        color: #909399;
        padding: 0 15px; }
        .bot-side .footer-nav li a:hover {
          color: #fff; }

@media (min-width: 320px) and (max-width: 767px) {
  footer {
    padding: 30px 0; }
    footer .row {
      margin: 0; }
    footer .top-side .social {
      margin-bottom: 10px; }
    footer .top-side .download {
      margin-bottom: 10px; }
    footer .bot-side {
      padding-top: 10px;
      text-align: center; }
      footer .bot-side .pull-left, footer .bot-side .pull-right {
        float: none !important; }
      footer .bot-side .footer-nav {
        padding-top: 10px; }
        footer .bot-side .footer-nav li {
          float: none;
          display: inline-block; } }

/******************  Главная страница  ******************/
.banner {
  position: relative;
  background: transparent url(../img/shadow.svg) center bottom no-repeat; }

.inner-pages .banner {
  background: rgba(23, 23, 23, 0.85) url(../img/shadow.svg) center bottom no-repeat; }

.main-form {
  margin-bottom: 80px; }
  .main-form p {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 22px; }
    .main-form p span {
      font-weight: 400;
      display: inline-block;
      margin-right: 6px; }
  .main-form .form-control {
    height: 48px;
    font-size: 14px;
    line-height: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 14px 16px;
    min-width: 220px;
    margin-right: 8px;
    border: 0; }
    .main-form .form-control::-webkit-input-placeholder {
      color: #909399; }
    .main-form .form-control::-moz-placeholder {
      color: #909399; }
    .main-form .form-control:-ms-input-placeholder {
      color: #909399; }
    .main-form .form-control::placeholder {
      color: #909399; }
  .main-form .main-btn {
    height: 48px;
    min-width: 160px; }

.partners {
  margin-bottom: 36px;
  overflow: hidden;
  position: relative; }
  .partners li {
    float: left;
    margin-right: 20px; }
    .partners li:last-child {
      margin-right: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      z-index: 99; }
      .partners li:last-child a {
        border: 1px solid rgba(255, 255, 255, 0.1);
        -webkit-border-radius: 4px;
                border-radius: 4px;
        padding: 25px 35px 25px 69px;
        display: block;
        font-size: 14px;
        color: #fff;
        position: relative;
        text-decoration: none; }
        .partners li:last-child a:before {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          margin-top: -12px;
          left: 35px;
          height: 24px;
          width: 24px;
          margin-right: 10px;
          background: url(../img/icons/presentation.svg) no-repeat; }

@media (min-width: 480px) and (max-width: 767px) {
  .banner .row {
    margin: 0; }
  .main-form {
    margin-bottom: 40px; }
  .partners {
    margin: 0;
    padding: 30px 0; }
    .partners li a img {
      width: 60px;
      height: 60px; }
    .partners li:last-child {
      top: 10px; } }

@media (min-width: 320px) and (max-width: 479px) {
  .banner {
    padding-bottom: 20px; }
    .banner .row {
      margin: 0; }
  .main-form {
    margin-bottom: 40px; }
  .partners {
    margin: 0;
    padding: 0 0 30px 0;
    text-align: center; }
    .partners li {
      float: none;
      display: inline-block;
      margin: 0 5px; }
      .partners li a img {
        width: 60px;
        height: 60px; }
      .partners li:last-child {
        position: static; } }

.services {
  padding-top: 20px; }
  .services p.sub-descr {
    margin-bottom: 46px; }

.services-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .services-list li {
    width: -webkit-calc((100% - 40px) / 3);
    width: calc((100% - 40px) / 3);
    margin: 0 20px 20px 0;
    max-width: 380px; }
    .services-list li h3 {
      color: #fff;
      font-family: "Exo 2", sans-serif;
      font-weight: 700;
      font-size: 20px;
      margin: 0 0 20px; }
    .services-list li p {
      color: #909399;
      font-size: 14px;
      line-height: 20px;
      margin: 0 0 30px; }
      .services-list li p b {
        margin: 0 5px 0 0; }
    .services-list li a {
      display: block;
      padding: 60px 40px;
      background: #1C1C1C;
      height: 100%;
      text-decoration: none;
      text-align: left;
      position: relative; }
      .services-list li a label {
        width: 32px;
        height: 32px;
        z-index: 1;
        background: rgba(255, 255, 255, 0.1);
        position: absolute;
        bottom: 0;
        right: 0;
        overflow: hidden; }
        .services-list li a label i {
          display: block;
          width: 100%;
          height: 100%;
          position: relative; }
          .services-list li a label i:after {
            content: '';
            width: 13px;
            height: 13px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -6.5px;
            margin-left: -6.5px;
            display: block;
            background: url(../img/icons/services/plus.svg) center no-repeat;
            -webkit-transition: all .4s;
            transition: all .4s; }
      .services-list li a:hover {
        background: #1f1f1f; }
        .services-list li a:hover label i:after {
          -webkit-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
                  transform: rotate(90deg); }
    .services-list li span {
      width: 30px;
      height: 30px;
      display: inline-block;
      text-align: center;
      margin: 0 0 74px; }
    .services-list li:nth-of-type(3n) {
      margin-right: 0; }
    .services-list li:nth-child(1) span {
      background: url(../img/icons/services/1.svg) center no-repeat; }
    .services-list li:nth-child(2) span {
      background: url(../img/icons/services/2.svg) center no-repeat; }
    .services-list li:nth-child(3) span {
      background: url(../img/icons/services/3.svg) center no-repeat; }
    .services-list li:nth-child(4) span {
      background: url(../img/icons/services/4.svg) center no-repeat; }
    .services-list li:nth-child(5) span {
      background: url(../img/icons/services/5.svg) center no-repeat; }
    .services-list li:nth-child(6) span {
      background: url(../img/icons/services/6.svg) center no-repeat; }

@media (min-width: 992px) and (max-width: 1199px) {
  .services-list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .services-list li {
      width: -webkit-calc((100% - 40px) / 2);
      width: calc((100% - 40px) / 2); }
      .services-list li:nth-of-type(3n) {
        margin-right: 20px; }
      .services-list li:nth-of-type(2n) {
        margin-right: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .services-list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .services-list li {
      width: -webkit-calc((100% - 40px) / 2);
      width: calc((100% - 40px) / 2); }
      .services-list li:nth-of-type(3n) {
        margin-right: 20px; }
      .services-list li:nth-of-type(2n) {
        margin-right: 0; } }

@media (min-width: 480px) and (max-width: 767px) {
  .services-list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .services-list li {
      width: -webkit-calc(100% - 40px);
      width: calc(100% - 40px);
      margin: 20px; }
      .services-list li:nth-of-type(3n) {
        margin-right: 20px; }
      .services-list li:nth-of-type(2n) {
        margin-right: 20px; } }

@media (min-width: 320px) and (max-width: 767px) {
  .services-list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .services-list li {
      width: -webkit-calc(100% - 40px);
      width: calc(100% - 40px);
      margin: 20px;
      min-height: 320px; }
      .services-list li:nth-of-type(3n) {
        margin-right: 20px; }
      .services-list li:nth-of-type(2n) {
        margin-right: 20px; }
      .services-list li a {
        padding: 30px 20px; }
      .services-list li span {
        margin-bottom: 30px; } }

.projects {
  padding-bottom: 16px; }
  .projects .load-more {
    display: block;
    width: -webkit-calc(100% - 200px);
    width: calc(100% - 200px);
    margin: 0 100px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 28px 0;
    border: 1px solid #17B184;
    -webkit-border-radius: 4px;
            border-radius: 4px; }
    .projects .load-more span {
      font-size: 20px;
      line-height: 20px;
      position: relative;
      padding-left: 40px; }
      .projects .load-more span:before {
        content: '';
        height: 20px;
        width: 20px;
        background: url(../img/icons/plus-main-color.svg) center no-repeat;
        position: absolute;
        left: 0;
        -webkit-transition: all .4s;
        transition: all .4s; }
    .projects .load-more:hover span:before {
      -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg); }

.services-inner-projects li {
  width: -webkit-calc((100% - 20px) / 3);
  width: calc((100% - 20px) / 3); }

.projects-list {
  padding: 20px 100px 0;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .projects-list li {
    width: -webkit-calc(50% - 10px);
    width: calc(50% - 10px);
    margin: 0 20px 20px 0;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    overflow: hidden; }
    .projects-list li:nth-child(2n) {
      margin-right: 0; }
    .projects-list li a {
      display: block;
      position: relative;
      width: 100%;
      height: 100%; }
      .projects-list li a img {
        position: absolute;
        z-index: 0;
        width: auto;
        height: auto;
        min-height: 100%;
        display: block;
        margin: auto;
        top: -9999px;
        bottom: -9999px;
        right: -9999px;
        left: -9999px;
        -webkit-transition: all .5s;
        transition: all .5s; }
      .projects-list li a .content {
        z-index: 1;
        background: transparent;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 12px 20px 20px 20px; }
        .projects-list li a .content h4 {
          font-family: "Exo 2", sans-serif;
          font-weight: 700;
          font-size: 24px;
          line-height: 44px;
          margin: 0;
          color: #fff;
          position: relative; }
          .projects-list li a .content h4:after {
            content: '';
            display: inline-block;
            margin: 0 3px;
            background: url(../img/icons/project-title-symbol.svg) center bottom no-repeat;
            height: 24px;
            line-height: 24px;
            width: 24px; }
        .projects-list li a .content .tags {
          position: absolute;
          overflow: hidden;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 20px; }
          .projects-list li a .content .tags span {
            float: left;
            font-size: 14px;
            line-height: 30px;
            padding: 0 16px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            -webkit-border-radius: 4px;
                    border-radius: 4px;
            color: #fff;
            margin-right: 20px; }
      .projects-list li a:hover img {
        -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
                transform: scale(1.05); }

.services-inner-projects {
  padding: 20px 0; }
  .services-inner-projects li {
    width: -webkit-calc((100% - 40px) / 3);
    width: calc((100% - 40px) / 3);
    margin: 0 20px 0 0; }
    .services-inner-projects li:nth-child(2) {
      margin: 0 20px 0 0; }
    .services-inner-projects li:nth-child(3) {
      margin: 0; }

@media (min-width: 768px) and (max-width: 991px) {
  .projects .load-more {
    margin: 0 50px;
    width: -webkit-calc(100% - 100px);
    width: calc(100% - 100px); }
  .projects-list {
    padding: 20px 50px 0; } }

@media (min-width: 480px) and (max-width: 767px) {
  .projects .load-more {
    margin: 0 50px;
    width: -webkit-calc(100% - 100px);
    width: calc(100% - 100px);
    padding: 15px 0; }
  .projects-list {
    padding: 20px 50px 0; }
    .projects-list li {
      width: 100%;
      margin: 0 0 20px; } }

@media (min-width: 320px) and (max-width: 479px) {
  .projects .load-more {
    margin: 0 30px;
    width: -webkit-calc(100% - 60px);
    width: calc(100% - 60px);
    padding: 15px 0; }
  .projects-list {
    padding: 20px 30px 0; }
    .projects-list li {
      width: 100%;
      margin: 0 0 20px; }
      .projects-list li .content .tags span {
        margin-bottom: 5px; } }

.reviews {
  padding-bottom: 54px; }

.multi-item-carousel.reviews-carousel {
  padding: 31px 150px 82px; }
  .multi-item-carousel.reviews-carousel .carousel-inner > .item {
    -webkit-transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out left; }
    .multi-item-carousel.reviews-carousel .carousel-inner > .item .item-wrap {
      padding: 0 50px;
      width: 50%;
      float: left; }
    .multi-item-carousel.reviews-carousel .carousel-inner > .item .item-head {
      overflow: hidden;
      padding-bottom: 40px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
      .multi-item-carousel.reviews-carousel .carousel-inner > .item .item-head .person {
        float: left;
        width: 80px;
        height: 80px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        position: relative;
        overflow: hidden;
        margin-right: 20px; }
        .multi-item-carousel.reviews-carousel .carousel-inner > .item .item-head .person img {
          position: absolute;
          display: block;
          margin: auto;
          top: -9999px;
          bottom: -9999px;
          left: -9999px;
          right: -9999px;
          width: auto;
          height: auto; }
      .multi-item-carousel.reviews-carousel .carousel-inner > .item .item-head span {
        color: #909399;
        font-size: 14px;
        display: inline-block;
        margin: 14px 0 7px; }
      .multi-item-carousel.reviews-carousel .carousel-inner > .item .item-head h5 {
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1px; }
    .multi-item-carousel.reviews-carousel .carousel-inner > .item .item-body {
      padding-top: 32px; }
      .multi-item-carousel.reviews-carousel .carousel-inner > .item .item-body p {
        font-size: 18px;
        line-height: 30px;
        color: #909399;
        text-align: left; }
  .multi-item-carousel.reviews-carousel .carousel-inner .active.left {
    left: -50%; }
  .multi-item-carousel.reviews-carousel .carousel-inner .active.right {
    left: 50%; }
  .multi-item-carousel.reviews-carousel .carousel-inner .next {
    left: 50%; }
  .multi-item-carousel.reviews-carousel .carousel-inner .prev {
    left: -50%; }
  .multi-item-carousel.reviews-carousel .carousel-control {
    background: none !important; }
    .multi-item-carousel.reviews-carousel .carousel-control.left, .multi-item-carousel.reviews-carousel .carousel-control.right {
      background: transparent url(../img/icons/carousel-control.svg) center no-repeat !important;
      background-size: 36px 36px !important; }
    .multi-item-carousel.reviews-carousel .carousel-control.right {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
  .multi-item-carousel.reviews-carousel .carousel-indicators {
    bottom: 0; }
    .multi-item-carousel.reviews-carousel .carousel-indicators li {
      background: #484848;
      border-color: #484848;
      width: 8px;
      height: 8px;
      margin: 0; }
      .multi-item-carousel.reviews-carousel .carousel-indicators li.active {
        border-color: #909399;
        background: #909399; }

@media (min-width: 600px) and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    -webkit-transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out left;
    -webkit-transition: 500ms ease-in-out all;
    transition: 500ms ease-in-out all;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important; } }

@media (min-width: 768px) and (max-width: 992px) {
  .multi-item-carousel.reviews-carousel {
    padding: 20px 50px 60px; }
  .multi-item-carousel.reviews-carousel .carousel-inner > .item .item-wrap {
    padding: 0 30px; } }

@media (max-width: 600px) {
  .multi-item-carousel.reviews-carousel {
    padding: 20px 20px 60px; }
  .multi-item-carousel.reviews-carousel .carousel-inner > .item .item-wrap {
    padding: 0 30px;
    width: 100%;
    float: none !important; } }

.tech {
  padding: 60px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .tech .col-md-6 {
    padding: 0; }
  .tech h2 {
    text-align: left;
    font-family: "Exo 2", sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff; }
  .tech p {
    font-size: 16px;
    line-height: 24px;
    color: #909399;
    margin-bottom: 20px; }
  .tech ul {
    overflow: hidden; }
    .tech ul li {
      width: 80px;
      height: 80px;
      float: left;
      margin: 10px 18px 0 0;
      position: relative; }
      .tech ul li img {
        display: block;
        margin: auto;
        width: auto;
        height: auto;
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        max-width: 105%; }

@media (min-width: 480px) and (max-width: 767px) {
  .tech .row {
    margin: 0; }
  .tech-list li {
    margin: 0; } }

@media (min-width: 320px) and (max-width: 479px) {
  .tech {
    padding: 30px 0; }
    .tech .row {
      margin: 0; }
    .tech .tech-list {
      text-align: left; }
      .tech .tech-list li {
        margin: 0;
        width: 60px;
        height: 60px;
        float: none;
        display: inline-block; } }

.mitapp {
  padding: 60px 0; }
  .mitapp .col-md-6 {
    padding: 0; }
  .mitapp h2 {
    text-align: left;
    font-family: "Exo 2", sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 38px;
    color: #fff; }
  .mitapp p {
    font-size: 20px;
    line-height: 30px;
    color: #909399;
    margin-bottom: 36px; }

@media (min-width: 480px) and (max-width: 767px) {
  .mitapp .row {
    margin: 0; } }

@media (min-width: 320px) and (max-width: 479px) {
  .mitapp {
    padding: 30px 0; }
    .mitapp .row {
      margin: 0; }
    .mitapp p {
      font-size: 16px;
      line-height: 20px; } }

.news {
  margin-bottom: 40px; }
  .news h2 {
    text-align: left;
    font-family: "Exo 2", sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin: 2px 0 44px 0;
    color: #fff; }

.news-list {
  overflow: hidden;
  padding: 0 10px; }
  .news-list li {
    width: -webkit-calc((100% - 80px) / 3);
    width: calc((100% - 80px) / 3);
    margin-right: 40px;
    float: left;
    padding-bottom: 20px;
    position: relative;
    overflow: hidden; }
    .news-list li .news-img-wrapper {
      position: relative;
      display: block;
      width: 100%;
      overflow: hidden;
      -webkit-border-radius: 4px;
              border-radius: 4px; }
      .news-list li .news-img-wrapper img {
        position: absolute;
        display: block;
        margin: auto;
        top: -9999px;
        bottom: -9999px;
        right: -9999px;
        left: -9999px;
        width: auto;
        height: auto;
        -webkit-transform: scale(1.03);
            -ms-transform: scale(1.03);
                transform: scale(1.03);
        -webkit-transition: all .3s;
        transition: all .3s; }
      .news-list li .news-img-wrapper:hover img {
        -webkit-transform: scale(1.08);
            -ms-transform: scale(1.08);
                transform: scale(1.08); }
    .news-list li:nth-child(3n) {
      margin: 0; }
    .news-list li .tags {
      display: inline-block;
      font-size: 14px;
      line-height: 28px;
      padding: 0 16px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      -webkit-border-radius: 4px;
              border-radius: 4px;
      color: #fff;
      margin: 20px 20px 15px 0; }
    .news-list li h3 {
      font-size: 24px;
      line-height: 30px;
      font-weight: 700;
      color: #fff;
      margin: 0 0 22px; }
      .news-list li h3 a {
        color: #fff;
        text-decoration: none; }
    .news-list li p {
      color: #909399;
      font-size: 14px;
      line-height: 20px;
      margin: 0 0 22px; }
    .news-list li span.date {
      font-size: 12px;
      position: absolute;
      bottom: 0; }

@media (min-width: 480px) and (max-width: 767px) {
  .news .row {
    margin: 0; }
  .news h2 {
    margin-top: 10px; }
  .news-list li {
    width: 100%;
    margin: 0 0 20px; }
    .news-list li .news-img-wrapper img {
      min-width: 100%;
      height: auto; } }

@media (min-width: 320px) and (max-width: 479px) {
  .news .row {
    margin: 0; }
  .news h2 {
    margin-top: 10px; }
  .news-list li {
    width: 100%;
    margin: 0 0 20px; }
    .news-list li .news-img-wrapper img {
      min-width: 100%;
      height: auto; } }

.callback {
  padding: 60px 0 40px;
  text-align: center; }
  .callback h2 {
    font-family: "Exo 2", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #fff; }
  .callback p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    width: 60%;
    margin: 0 auto 40px; }
  .callback img {
    width: 100%;
    height: auto;
    margin: 0 0 22px; }
  .callback form .form-group {
    margin-bottom: 20px;
    padding: 0 10px; }
  .callback form .form-control {
    height: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 5px 10px;
    line-height: 30px;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.1);
    border: 0;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #909399; }
    .callback form .form-control::-webkit-input-placeholder {
      color: #909399; }
    .callback form .form-control::-moz-placeholder {
      color: #909399; }
    .callback form .form-control:-ms-input-placeholder {
      color: #909399; }
    .callback form .form-control::placeholder {
      color: #909399; }
  .callback form .main-btn {
    display: block;
    height: 40px;
    line-height: 35px;
    margin: 0 10px;
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px); }

@media (min-width: 320px) and (max-width: 479px) {
  .callback p {
    width: 80%; } }

.info-block {
  padding-bottom: 10px; }

.info-list {
  overflow: hidden;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 35px; }
  .info-list li {
    float: left;
    width: 200px;
    margin-right: 100px; }
    .info-list li:last-child {
      margin-right: 0; }
    .info-list li h4 {
      font-size: 72px;
      font-weight: 700;
      color: #fff;
      padding-bottom: 24px;
      position: relative; }
      .info-list li h4:after {
        content: '';
        display: block;
        width: 40px;
        height: 4px;
        background: #17B184;
        position: absolute;
        bottom: 0;
        left: 0; }
    .info-list li p {
      padding: 20px 0 0;
      font-size: 14px;
      line-height: 20px; }

@media (min-width: 768px) and (max-width: 991px) {
  .info-list {
    text-align: center; }
    .info-list li {
      display: inline-block;
      text-align: left;
      float: none;
      margin: 0 20px 20px; } }

@media (min-width: 480px) and (max-width: 767px) {
  .info-list {
    text-align: center;
    padding: 20px 10px; }
    .info-list li {
      display: inline-block;
      text-align: left;
      float: none;
      margin: 0 5px 20px;
      width: -webkit-calc((100% - 40px) / 2);
      width: calc((100% - 40px) / 2); } }

@media (min-width: 320px) and (max-width: 479px) {
  .info-list {
    text-align: center;
    padding: 20px 10px; }
    .info-list li {
      display: inline-block;
      text-align: left;
      float: none;
      margin: 0 0 20px;
      width: 100%; } }

.team {
  padding-bottom: 30px; }
  .team h2 {
    text-align: left;
    font-family: "Exo 2", sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #fff;
    margin-top: 38px; }

.team-list {
  overflow: hidden; }
  .team-list li {
    float: left;
    width: 25%;
    position: relative; }
    .team-list li .img-wrapper {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden; }
      .team-list li .img-wrapper:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(72, 72, 72, 0.23);
        z-index: 1;
        -webkit-transition: all .3s;
        transition: all .3s; }
      .team-list li .img-wrapper img {
        position: absolute;
        display: block;
        margin: auto;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        width: auto;
        height: auto;
        z-index: 0; }
    .team-list li h3 {
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      z-index: 2;
      color: #fff; }
      .team-list li h3 span {
        display: block;
        font-size: 0;
        font-weight: 400;
        color: #C0C4CC;
        line-height: 16px;
        -webkit-transition: all .4s;
        transition: all .4s; }
    .team-list li:hover .img-wrapper:before {
      background: rgba(72, 72, 72, 0.6); }
    .team-list li:hover h3 span {
      font-size: 16px; }

@media (min-width: 480px) and (max-width: 767px) {
  .team .row {
    margin: 0; }
  .team-list li {
    width: 33.3%; } }

@media (min-width: 320px) and (max-width: 479px) {
  .team .row {
    margin: 0; }
  .team-list li {
    width: 50%; } }

.clients-carousel {
  padding: 40px 0 70px; }
  .clients-carousel .item .col-sm-3 {
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px; }
    .clients-carousel .item .col-sm-3 .wrap {
      padding: 34px 0; }
    .clients-carousel .item .col-sm-3:nth-child(odd) .wrap {
      background: #1C1C1C; }
    .clients-carousel .item .col-sm-3 img {
      width: 80px;
      height: 80px;
      display: inline-block;
      margin-bottom: 10px; }
    .clients-carousel .item .col-sm-3 h4 {
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 20px; }
    .clients-carousel .item .col-sm-3 p {
      font-size: 14px;
      color: #909399; }
  .clients-carousel .carousel-indicators li {
    width: 8px;
    height: 8px;
    background: #484848;
    border-color: #484848;
    margin: 0; }
    .clients-carousel .carousel-indicators li.active {
      background: #909399;
      border-color: #909399; }

@media (min-width: 480px) and (max-width: 767px) {
  .clients .row {
    margin: 0; } }

@media (min-width: 320px) and (max-width: 479px) {
  .clients .row {
    margin: 0; } }

.news-page ul.pagination {
  padding-top: 60px; }

.news-inner-page-banner img {
  width: 100%;
  padding: 0 !important; }

.news-inner-page {
  margin: 0; }
  .news-inner-page .content {
    padding: 50px 0; }
    .news-inner-page .content img {
      width: 100%; }
  .news-inner-page h2 {
    font-size: 40px;
    font-family: "Exo 2", sans-serif;
    color: #fff;
    margin-bottom: 20px; }
  .news-inner-page h3 {
    font-family: "ProximaNova-Regular", sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    color: #C0C4CC; }
  .news-inner-page p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #C0C4CC; }
  .news-inner-page span.date {
    color: #909399;
    margin-bottom: 20px;
    display: block; }
  .news-inner-page img {
    padding: 20px 0 40px 0; }

@media (max-width: 768px) {
  .news-inner-page .row {
    margin: 0; } }

@media (max-width: 768px) {
  .services-inner-projects {
    text-align: center;
    display: block; }
    .services-inner-projects li {
      width: 100%;
      max-width: 380px;
      margin: 0 0 20px;
      float: none;
      text-align: left;
      display: inline-block; }
      .services-inner-projects li:nth-child(2) {
        margin: 0 0 20px; }
      .services-inner-projects li:nth-child(3) {
        margin: 0 0 20px; } }

.projects-nav-block {
  overflow: hidden;
  position: absolute;
  height: 70px;
  bottom: 0;
  left: 0;
  right: 0; }

.controls {
  padding: 30px 0 0;
  z-index: 1; }
  .controls li {
    display: inline-block;
    width: -webkit-calc((100% - 80px) / 4);
    width: calc((100% - 80px) / 4);
    margin-right: 20px; }
    .controls li:last-child {
      margin-right: 0; }

button.filter {
  display: inline-block;
  padding: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #C0C4CC;
  font-size: 16px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  cursor: pointer;
  background: none;
  width: 100%;
  line-height: 36px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  button.filter:hover {
    cursor: pointer;
    border-color: #17B184;
    color: #fff; }
  button.filter.active {
    border-color: #17B184;
    color: #fff; }
  button.filter:focus {
    outline: 0 none; }
  button.filter + label {
    margin-left: 1em; }

#projects-list {
  -webkit-backface-visibility: hidden; }
  #projects-list .mix {
    display: inline-block; }
  #projects-list .mix {
    display: none; }
  #projects-list li {
    margin: 0 10px 20px 0;
    width: -webkit-calc((100% - 40px) / 3);
    width: calc((100% - 40px) / 3); }
    #projects-list li:nth-child(2n) {
      margin: 0 10px 20px 0; }
    #projects-list li:nth-child(3n) {
      margin: 0 0 20px 0; }

@media (min-width: 992px) and (max-width: 1200px) {
  .projects-list li a .content .tags span {
    margin-bottom: 5px; }
  .projects-list {
    padding: 20px 30px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .projects-nav-block {
    height: 150px; }
  .projects-banner {
    padding-bottom: 160px !important; }
  #projects-list li {
    width: -webkit-calc((100% - 30px) / 2);
    width: calc((100% - 30px) / 2);
    margin: 0 5px 20px; }
    #projects-list li:nth-child(even) {
      margin: 0 5px 20px; }
    #projects-list li:nth-child(odd) {
      margin: 0 5px 20px; }
    #projects-list li a .content .tags span {
      margin-bottom: 5px; }
  .projects-list {
    padding: 20px 30px; } }

@media (min-width: 480px) and (max-width: 767px) {
  .projects-nav-block {
    height: 175px; }
  .projects-banner {
    padding-bottom: 180px !important; }
  #projects-list li {
    width: -webkit-calc((100% - 30px) / 2);
    width: calc((100% - 30px) / 2);
    margin: 0 5px 20px; }
    #projects-list li:nth-child(even) {
      margin: 0 5px 20px; }
    #projects-list li:nth-child(odd) {
      margin: 0 5px 20px; }
    #projects-list li a .content .tags span {
      margin-bottom: 5px; }
  .projects-list {
    padding: 20px 0;
    display: block; }
  .controls {
    padding: 0; }
    .controls li {
      width: -webkit-calc((100% - 30px) / 2);
      width: calc((100% - 30px) / 2);
      margin: 0 10px 10px 0; } }

@media (min-width: 320px) and (max-width: 479px) {
  .projects-nav-block {
    height: auto;
    position: static; }
  .projects-banner {
    padding-bottom: 30px; }
  #projects-list li {
    width: 100%;
    margin: 0 0 10px !important; }
    #projects-list li:nth-child(even) {
      margin: 0 10px; }
    #projects-list li:nth-child(odd) {
      margin: 0 10px; }
    #projects-list li a .content .tags span {
      margin-bottom: 5px; }
  .projects-list {
    padding: 20px 0;
    display: block; }
    .projects-list .row {
      margin: 0; }
  .controls {
    padding: 0; }
    .controls li {
      width: -webkit-calc(100% - 20px);
      width: calc(100% - 20px);
      margin: 0 10px 5px; } }

h1.project-name {
  font-family: "Exo 2", sans-serif;
  font-size: 40px;
  margin-top: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px; }
  h1.project-name:after {
    left: 50%;
    margin-left: -40px; }

.project-tags {
  text-align: center;
  padding: 20px 0; }
  .project-tags span {
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    padding: 0 16px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
            border-radius: 4px;
    color: #fff;
    margin-right: 20px; }

ul.about-project-list {
  padding-top: 20px;
  overflow: hidden;
  text-align: center;
  padding-bottom: 20px;
  position: relative; }
  ul.about-project-list:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15%;
    right: 15%;
    width: 70%;
    height: 1px;
    background: rgba(255, 255, 255, 0.3); }
  ul.about-project-list li {
    display: inline-block;
    width: 24%; }
    ul.about-project-list li h4 {
      font-size: 11px;
      color: #909399; }
    ul.about-project-list li p {
      font-size: 14px;
      color: #fff; }

#myCarousel {
  padding: 20px 0 40px; }
  #myCarousel .item {
    margin: 0 auto;
    text-align: center; }
    #myCarousel .item img {
      margin: 0 auto;
      max-width: 580px;
      height: auto; }
  #myCarousel .carousel-indicators {
    bottom: 0; }
    #myCarousel .carousel-indicators li {
      border: 1px solid #484848;
      background: #484848; }
      #myCarousel .carousel-indicators li.active {
        background: #909399;
        border-color: #909399; }
  #myCarousel .carousel-control {
    background: none; }
    #myCarousel .carousel-control:before {
      content: '';
      display: block;
      width: 40px;
      height: 100%;
      margin: 0 auto; }
    #myCarousel .carousel-control.left:before {
      background: transparent url(../img/icons/carousel-control.svg) center no-repeat; }
    #myCarousel .carousel-control.right:before {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
      background: transparent url(../img/icons/carousel-control.svg) center no-repeat; }

.project-descr {
  padding: 50px 0 45px; }
  .project-descr p {
    color: #DCDFE6;
    font-size: 16px;
    line-height: 24px;
    text-align: center; }

ul.properties {
  display: block;
  text-align: center;
  overflow: hidden; }
  ul.properties li {
    padding: 0 25px; }
    ul.properties li span {
      width: 30px;
      height: 30px;
      display: block;
      margin: 0 auto 20px;
      overflow: hidden; }
      ul.properties li span img {
        max-width: 100%;
        max-height: 100%;
        width: auto; }

.project-step {
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden; }

.project-step-block {
  padding: 40px 0; }
  .project-step-block img {
    max-width: 100%; }
  .project-step-block span {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 56px;
    display: block;
    text-align: center;
    margin-bottom: 30px; }
  .project-step-block h3 {
    font-size: 28px;
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px; }
  .project-step-block p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px; }

#myCarousel1 {
  padding-bottom: 60px;
  margin-bottom: 30px;
  background: none; }
  #myCarousel1 .carousel-control {
    background: none !important;
    opacity: 1; }
    #myCarousel1 .carousel-control.left, #myCarousel1 .carousel-control.right {
      background: transparent url(../img/icons/carousel-control.svg) center no-repeat !important;
      background-size: 36px 36px !important; }
    #myCarousel1 .carousel-control.left {
      left: -10%; }
    #myCarousel1 .carousel-control.right {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
      right: -10%; }
  #myCarousel1 .item {
    background: none; }
    #myCarousel1 .item .col-md-6 {
      padding: 0;
      width: -webkit-calc((100% - 40px) / 2);
      width: calc((100% - 40px) / 2);
      margin: 0 10px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      overflow: hidden; }
      #myCarousel1 .item .col-md-6 a {
        display: block;
        position: relative;
        width: 100%;
        height: 100%; }
        #myCarousel1 .item .col-md-6 a img {
          position: absolute;
          z-index: 0;
          width: auto;
          height: auto;
          min-height: 100%;
          display: block;
          margin: auto;
          top: -9999px;
          bottom: -9999px;
          right: -9999px;
          left: -9999px;
          -webkit-transition: all .5s;
          transition: all .5s; }
        #myCarousel1 .item .col-md-6 a .content {
          z-index: 1;
          background: transparent;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 12px 20px 20px 20px; }
          #myCarousel1 .item .col-md-6 a .content h4 {
            font-family: "Exo 2", sans-serif;
            font-weight: 700;
            font-size: 24px;
            line-height: 44px;
            margin: 0;
            color: #fff;
            position: relative; }
            #myCarousel1 .item .col-md-6 a .content h4:after {
              content: '';
              display: inline-block;
              margin: 0 3px;
              background: url(../img/icons/project-title-symbol.svg) center bottom no-repeat;
              height: 24px;
              line-height: 24px;
              width: 24px; }
          #myCarousel1 .item .col-md-6 a .content .tags {
            position: absolute;
            overflow: hidden;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 20px; }
            #myCarousel1 .item .col-md-6 a .content .tags span {
              float: left;
              font-size: 14px;
              line-height: 30px;
              padding: 0 16px;
              border: 1px solid rgba(255, 255, 255, 0.5);
              -webkit-border-radius: 4px;
                      border-radius: 4px;
              color: #fff;
              margin-right: 20px; }
        #myCarousel1 .item .col-md-6 a:hover img {
          -webkit-transform: scale(1.05);
              -ms-transform: scale(1.05);
                  transform: scale(1.05); }

@media (min-width: 992px) and (max-width: 1200px) {
  .project-step .row {
    margin: 0; }
  .project-step-block {
    padding: 20px 0; }
    .project-step-block img {
      max-width: 100%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .project-step .row {
    margin: 0; }
  .project-step-block {
    padding: 20px 0; }
    .project-step-block img {
      max-width: 100%; }
  #myCarousel1 .item .col-md-6 {
    float: left; } }

@media (min-width: 480px) and (max-width: 767px) {
  #myCarousel .item img {
    max-width: 100%; }
  .project-step {
    text-align: center; }
    .project-step .row {
      margin: 0; }
  .project-step-block {
    padding: 20px 0; }
    .project-step-block.leftImg {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    .project-step-block span {
      margin: 0 auto 30px; }
    .project-step-block img {
      max-width: 100%; }
  #myCarousel1 {
    margin: 0; }
    #myCarousel1 .item .col-md-6 {
      float: none;
      width: 100%;
      margin: 0 0 10px; } }

.contacts {
  padding-bottom: 40px; }
  .contacts h1 {
    margin: 40px 0; }
  .contacts .contact-items {
    overflow: hidden;
    margin-bottom: 30px;
    font-size: 20px; }
    .contacts .contact-items p {
      width: 40%;
      float: left;
      color: #fff; }
    .contacts .contact-items span {
      width: 60%;
      float: left; }

@media (max-width: 992px) {
  .col-md-6 {
    margin-bottom: 30px; } }

/***** Адаптивность *****/
@media (min-width: 1200px) {
  .container {
    width: 1180px; } }
