//- Файл стилей
link(rel="stylesheet", href="css/bootstrap.min.css")
link(rel="stylesheet", href="css/fonts.css")
link(rel="stylesheet", href="css/style.min.css")
//- Иконки сайта
link(rel='apple-touch-icon', sizes='57x57', href='img/favicons/apple-icon-57x57.png')
link(rel='apple-touch-icon', sizes='60x60', href='img/favicons/apple-icon-60x60.png')
link(rel='apple-touch-icon', sizes='72x72', href='img/favicons/apple-icon-72x72.png')
link(rel='apple-touch-icon', sizes='76x76', href='img/favicons/apple-icon-76x76.png')
link(rel='apple-touch-icon', sizes='114x114', href='img/favicons/apple-icon-114x114.png')
link(rel='apple-touch-icon', sizes='120x120', href='img/favicons/apple-icon-120x120.png')
link(rel='apple-touch-icon', sizes='144x144', href='img/favicons/apple-icon-144x144.png')
link(rel='apple-touch-icon', sizes='152x152', href='img/favicons/apple-icon-152x152.png')
link(rel='apple-touch-icon', sizes='180x180', href='img/favicons/apple-icon-180x180.png')
link(rel='icon', type='image/png', sizes='192x192', href='img/favicons/android-icon-192x192.png')
link(rel='icon', type='image/png', sizes='32x32', href='img/favicons/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='96x96', href='img/favicons/favicon-96x96.png')
link(rel='icon', type='image/png', sizes='16x16', href='img/favicons/favicon-16x16.png')
link(rel='manifest', href='img/favicons/manifest.json')
// шрифты

link(href="https://fonts.googleapis.com/css?family=Exo+2:400,700" rel="stylesheet")

