//- Название страницы
title Document

//- Кодировка
meta(charset="UTF-8")

//- Тег viewport
meta(name='viewport', content='width=device-width, initial-scale=1')

//- Краткое описание веб-страницы
meta(name="description", content="Page description")

//- Ключевые слова (через запятую)
meta(name="keywords", content="page, keywords")

//- Цвет темы веб-приложения
meta(name="theme-color", content="#000000")

//- Авторский права
meta(name="copyright", content="Author")

//- Теги веб-приложения для Apple (и не только)
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="#000000")
meta(name="apple-mobile-web-app-title", content="Application Name")

//- Теги веб-приложения для Windows
meta(name="msapplication-TileImage", content="img/favicons/144x144.png")
meta(name="msapplication-TileColor", content="#000000")

//- Отключение отображения номера как ссылки
meta(name="format-detection", content="telephone=no")
	
meta(name='msapplication-TileColor', content='#ffffff')
meta(name='msapplication-TileImage', content='img/favicons/ms-icon-144x144.png')
meta(name='theme-color', content='#ffffff')
