//- Файл библиотек
script(src='js/libs.js')
script(src='js/bootstrap.min.js')
script(src='https://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js')
//- Основной файл сценариев
script(src="js/common.js")