li
	a(href='' title='').news-img-wrapper
		img(src='img/jpg/news.jpg' title='')
	span.tags Web
	span.tags UX Design
	h3
		a(href="#" title='') The Importance of Feedback from a Product
	p What is missing in all these cases is feedback — some way of letting you know that what you did is working. Feedback acknowledges actions and shows results to keep people informed.
	span.date 5 ОКТЯБРЯ 2018Г