
// banner
.banner
	position: relative
	background: transparent url(../img/shadow.svg) center bottom no-repeat

.inner-pages
	.banner
		background: rgba(23,23,23,0.85) url(../img/shadow.svg) center bottom no-repeat

// main form
.main-form
	margin-bottom: 80px
	p
		font-size: 20px
		font-weight: 700
		color: #fff
		margin: 0 0 22px
		span
			font-weight: 400
			display: inline-block
			margin-right: 6px
	.form-control
		height: 48px
		font-size: 14px
		line-height: 20px
		box-sizing: border-box
		padding: 14px 16px
		min-width: 220px
		margin-right: 8px
		border: 0
		&::placeholder
			color: $suplementary
	.main-btn
		height: 48px
		min-width: 160px

.partners
	margin-bottom: 36px
	overflow: hidden
	position: relative
	li
		float: left
		margin-right: 20px
		&:last-child
			margin-right: 0
			overflow: hidden
			position: absolute
			right: 0
			z-index: 99
			a
				border: 1px solid rgba(255,255,255,0.1)
				border-radius: 4px
				padding: 25px 35px 25px 69px
				display: block
				font-size: 14px
				color: #fff
				position: relative
				text-decoration: none
				&:before
					content: ''
					display: block
					position: absolute
					top: 50%
					margin-top: -12px
					left: 35px
					height: 24px
					width: 24px
					margin-right: 10px
					background: url(../img/icons/presentation.svg) no-repeat



@media (min-width: 480px) and (max-width: 767px)

	.banner
		.row
			margin: 0
	.main-form
		margin-bottom: 40px
	.partners
		margin: 0
		padding: 30px 0
		li
			a
				img
					width: 60px
					height: 60px
			&:last-child
				top: 10px

@media (min-width: 320px) and (max-width: 479px)

	.banner
		padding-bottom: 20px
		.row
			margin: 0
	.main-form
		margin-bottom: 40px
	.partners
		margin: 0
		padding: 0 0 30px 0
		text-align: center
		li
			float: none
			display: inline-block
			margin: 0 5px
			a
				img
					width: 60px
					height: 60px
			&:last-child
				position: static