
// projects-page-page //

.projects
	padding-bottom: 16px
	.load-more
		display: block
		width: calc(100% - 200px)
		margin: 0 100px
		text-align: center
		color: #fff
		text-decoration: none
		padding: 28px 0
		border: 1px solid $primaryBlock
		border-radius: 4px
		span
			font-size: 20px
			line-height: 20px
			position: relative
			padding-left: 40px
			&:before
				content: ''
				height: 20px
				width: 20px
				background: url(../img/icons/plus-main-color.svg) center no-repeat
				position: absolute
				left: 0
				transition: all .4s
		&:hover
			span
				&:before
					transform: rotate(-90deg)

.services-inner-projects
	li
		width: calc((100% - 20px) / 3)

.projects-list
	padding: 20px 100px 0
	overflow: hidden
	display: flex
	flex-wrap: wrap
	li
		width: calc(50% - 10px)
		margin: 0 20px 20px 0
		border-radius: 5px
		overflow: hidden
		&:nth-child(2n)
			margin-right: 0
		a
			display: block
			position: relative
			width: 100%
			height: 100%
			img
				position: absolute
				z-index: 0
				width: auto
				height: auto
				min-height: 100%
				display: block
				margin: auto
				top: -9999px
				bottom: -9999px
				right: -9999px
				left: -9999px
				transition: all .5s
			.content
				z-index: 1
				background: transparent
				position: absolute
				top: 0
				bottom: 0
				left: 0
				right: 0
				padding: 12px 20px 20px 20px
				h4
					font-family: $exo
					font-weight: 700
					font-size: 24px
					line-height: 44px
					margin: 0
					color: #fff
					position: relative
					&:after
						content: ''
						display: inline-block
						margin: 0 3px
						background: url(../img/icons/project-title-symbol.svg) center bottom no-repeat
						height: 24px
						line-height: 24px
						width: 24px
				.tags
					position: absolute
					overflow: hidden
					bottom: 0
					left: 0
					right: 0
					padding: 20px
					span
						float: left
						font-size: 14px
						line-height: 30px
						padding: 0 16px
						border: 1px solid rgba(255,255,255,0.5)
						border-radius: 4px
						color: #fff
						margin-right: 20px
			&:hover
				img
					transform: scale(1.05)

.services-inner-projects
	padding: 20px 0
	li
		width: calc((100% - 40px) / 3)
		margin: 0 20px 0 0
		&:nth-child(2)
			margin: 0 20px 0 0
		&:nth-child(3)
			margin: 0

@media (min-width: 768px) and (max-width: 991px)

	.projects
		.load-more
			margin: 0 50px
			width: calc(100% - 100px)
	.projects-list
		padding: 20px 50px 0

@media (min-width: 480px) and (max-width: 767px)

	.projects
		.load-more
			margin: 0 50px
			width: calc(100% - 100px)
			padding: 15px 0
	.projects-list
		padding: 20px 50px 0
		li
			width: 100%
			margin: 0 0 20px

@media (min-width: 320px) and (max-width: 479px)

	.projects
		.load-more
			margin: 0 30px
			width: calc(100% - 60px)
			padding: 15px 0
	.projects-list
		padding: 20px 30px 0
		li
			width: 100%
			margin: 0 0 20px
			.content
				.tags
					span
						margin-bottom: 5px