
//// services //
.services
	padding-top: 20px
	p.sub-descr
		margin-bottom: 46px

.services-list
	display: flex
	flex-wrap: wrap
	li
		width: calc((100% - 40px) / 3)
		margin: 0 20px 20px 0
		max-width: 380px
		h3
			color: #fff
			font-family: $exo
			font-weight: 700
			font-size: 20px
			margin: 0 0 20px
		p
			color: #909399
			font-size: 14px
			line-height: 20px
			margin: 0 0 30px
			b
				margin: 0 5px 0 0
		a
			display: block
			padding: 60px 40px
			background: #1C1C1C
			height: 100%
			text-decoration: none
			text-align: left
			position: relative
			label
				width: 32px
				height: 32px
				z-index: 1
				background: rgba(255,255,255,0.1)
				position: absolute
				bottom: 0
				right: 0
				overflow: hidden
				i
					display: block
					width: 100%
					height: 100%
					position: relative
					&:after
						content: ''
						width: 13px
						height: 13px
						position: absolute
						top: 50%
						left: 50%
						margin-top: -6.5px
						margin-left: -6.5px
						display: block
						background: url(../img/icons/services/plus.svg) center no-repeat
						transition: all .4s
			&:hover
				background: #1f1f1f
				label
					i
						&:after
							transform: rotate(90deg)
		span
			width: 30px
			height: 30px
			display: inline-block
			text-align: center
			margin: 0 0 74px
		&:nth-of-type(3n)
			margin-right: 0
		&:nth-child(1)
			span
				background: url(../img/icons/services/1.svg) center no-repeat
		&:nth-child(2)
			span
				background: url(../img/icons/services/2.svg) center no-repeat
		&:nth-child(3)
			span
				background: url(../img/icons/services/3.svg) center no-repeat
		&:nth-child(4)
			span
				background: url(../img/icons/services/4.svg) center no-repeat
		&:nth-child(5)
			span
				background: url(../img/icons/services/5.svg) center no-repeat
		&:nth-child(6)
			span
				background: url(../img/icons/services/6.svg) center no-repeat



@media (min-width: 992px) and (max-width: 1199px)

	.services-list
		justify-content: center
		li
			width: calc((100% - 40px) / 2)
			&:nth-of-type(3n)
				margin-right: 20px
			&:nth-of-type(2n)
				margin-right: 0

@media (min-width: 768px) and (max-width: 991px)

	.services-list
		justify-content: center
		li
			width: calc((100% - 40px) / 2)
			&:nth-of-type(3n)
				margin-right: 20px
			&:nth-of-type(2n)
				margin-right: 0

@media (min-width: 480px) and (max-width: 767px)

	.services-list
		justify-content: center
		li
			width: calc(100% - 40px)
			margin: 20px
			&:nth-of-type(3n)
				margin-right: 20px
			&:nth-of-type(2n)
				margin-right: 20px

@media (min-width: 320px) and (max-width: 767px)

	.services-list
		justify-content: center
		li
			width: calc(100% - 40px)
			margin: 20px
			min-height: 320px
			&:nth-of-type(3n)
				margin-right: 20px
			&:nth-of-type(2n)
				margin-right: 20px
			a
				padding: 30px 20px
			span
				margin-bottom: 30px