
// mitapp //
.mitapp
	padding: 60px 0
	.col-md-6
		padding: 0
	h2
		text-align: left
		font-family: $exo
		font-size: 36px
		font-weight: 700
		margin-bottom: 38px
		color: #fff
	p
		font-size: 20px
		line-height: 30px
		color: #909399
		margin-bottom: 36px

@media (min-width: 480px) and (max-width: 767px)

	.mitapp
		.row
			margin: 0

@media (min-width: 320px) and (max-width: 479px)

	.mitapp
		padding: 30px 0
		.row
			margin: 0
		p
			font-size: 16px
			line-height: 20px