
// reviews //

.reviews
	padding-bottom: 54px

.multi-item-carousel.reviews-carousel
	padding: 31px 150px 82px
	.carousel-inner
		> .item
			transition: 500ms ease-in-out left
			.item-wrap
				padding: 0 50px
				width: 50%
				float: left
			.item-head
				overflow: hidden
				padding-bottom: 40px
				border-bottom: 1px solid rgba(255,255,255,0.1)
				.person
					float: left
					width: 80px
					height: 80px
					border-radius: 50%
					position: relative
					overflow: hidden
					margin-right: 20px
					img
						position: absolute
						display: block
						margin: auto
						top: -9999px
						bottom: -9999px
						left: -9999px
						right: -9999px
						width: auto
						height: auto
				span
					color: #909399
					font-size: 14px
					display: inline-block
					margin: 14px 0 7px
				h5
					color: #fff
					font-size: 20px
					font-weight: 700
					letter-spacing: 1px
			.item-body
				padding-top: 32px
				p
					font-size: 18px
					line-height: 30px
					color: #909399
					text-align: left
		.active
			&.left
				left: -50%
			&.right
				left: 50%
		.next
			left: 50%
		.prev
			left: -50%
	.carousel-control
		background: none !important
		&.left, &.right
			background: transparent url(../img/icons/carousel-control.svg) center no-repeat !important
			background-size: 36px 36px !important
		&.right
			transform: rotate(180deg)
	.carousel-indicators
		bottom: 0
		li
			background: #484848
			border-color: #484848
			width: 8px
			height: 8px
			margin: 0
			&.active
				border-color: #909399
				background: #909399

@media (min-width: 600px) and (transform-3d), (-webkit-transform-3d)
	.multi-item-carousel .carousel-inner > .item
		transition: 500ms ease-in-out left
		transition: 500ms ease-in-out all
		backface-visibility: visible
		transform: none !important

@media (min-width: 768px) and (max-width: 992px)

	.multi-item-carousel.reviews-carousel
		padding: 20px 50px 60px
	.multi-item-carousel.reviews-carousel .carousel-inner>.item .item-wrap
		padding: 0 30px

@media (max-width: 600px)

	.multi-item-carousel.reviews-carousel
		padding: 20px 20px 60px
	.multi-item-carousel.reviews-carousel .carousel-inner>.item .item-wrap
		padding: 0 30px
		width: 100%
		float: none !important