
// news //
.news
	margin-bottom: 40px
	h2
		text-align: left
		font-family: $exo
		font-size: 36px
		font-weight: 700
		margin: 2px 0 44px 0
		color: #fff
.news-list
	overflow: hidden
	padding: 0 10px
	li
		width: calc((100% - 80px) / 3)
		margin-right: 40px
		float: left
		padding-bottom: 20px
		position: relative
		overflow: hidden
		.news-img-wrapper
			position: relative
			display: block
			width: 100%
			overflow: hidden
			border-radius: 4px
			img
				position: absolute
				display: block
				margin: auto
				top: -9999px
				bottom: -9999px
				right: -9999px
				left: -9999px
				width: auto
				height: auto
				transform: scale(1.03)
				transition: all .3s
			&:hover
				img
					transform: scale(1.08)
		&:nth-child(3n)
			margin: 0
		.tags
			display: inline-block
			font-size: 14px
			line-height: 28px
			padding: 0 16px
			border: 1px solid rgba(255,255,255,0.5)
			border-radius: 4px
			color: #fff
			margin: 20px 20px 15px 0
		h3
			font-size: 24px
			line-height: 30px
			font-weight: 700
			color: #fff
			margin: 0 0 22px
			a
				color: #fff
				text-decoration: none
		p
			color: #909399
			font-size: 14px
			line-height: 20px
			margin: 0 0 22px
		span.date
			font-size: 12px
			position: absolute
			bottom: 0

@media (min-width: 480px) and (max-width: 767px)

	.news
		.row
			margin: 0
		h2
			margin-top: 10px

	.news-list
		li
			width: 100%
			margin: 0 0 20px
			.news-img-wrapper
				img
					min-width: 100%
					height: auto

@media (min-width: 320px) and (max-width: 479px)

	.news
		.row
			margin: 0
		h2
			margin-top: 10px

	.news-list
		li
			width: 100%
			margin: 0 0 20px
			.news-img-wrapper
				img
					min-width: 100%
					height: auto