
// tech //
.tech
	padding: 60px 0
	border-top: 1px solid rgba(255,255,255,0.1)
	border-bottom: 1px solid rgba(255,255,255,0.1)
	.col-md-6
		padding: 0
	h2
		text-align: left
		font-family: $exo
		font-size: 36px
		font-weight: 700
		margin-bottom: 20px
		color: #fff
	p
		font-size: 16px
		line-height: 24px
		color: #909399
		margin-bottom: 20px
	ul
		overflow: hidden
		li
			width: 80px
			height: 80px
			float: left
			margin: 10px 18px 0 0
			position: relative
			img
				display: block
				margin: auto
				width: auto
				height: auto
				position: absolute
				top: -9999px
				bottom: -9999px
				left: -9999px
				right: -9999px
				max-width: 105%

@media (min-width: 480px) and (max-width: 767px)

	.tech
		.row
			margin: 0
	.tech-list
		li
			margin: 0

@media (min-width: 320px) and (max-width: 479px)

	.tech
		padding: 30px 0
		.row
			margin: 0
		.tech-list
			text-align: left
			li
				margin: 0
				width: 60px
				height: 60px
				float: none
				display: inline-block