.callback
	padding: 60px 0 40px
	text-align: center
	h2
		font-family: $exo
		font-size: 32px
		font-weight: 700
		margin-bottom: 15px
		color: #fff
	p
		font-size: 16px
		line-height: 24px
		color: #fff
		width: 60%
		margin: 0 auto 40px
	img
		width: 100%
		height: auto
		margin: 0 0 22px
	form
		.form-group
			margin-bottom: 20px
			padding: 0 10px
		.form-control
			height: 40px
			box-sizing: border-box
			padding: 5px 10px
			line-height: 30px
			font-size: 14px
			background: rgba(255,255,255,0.1)
			border: 0
			outline: 0
			box-shadow: none
			color: #909399
			&::placeholder
				color: #909399
		.main-btn
			display: block
			height: 40px
			line-height: 35px
			margin: 0 10px
			width: calc(100% - 20px)

@media (min-width: 320px) and (max-width: 479px)

	.callback
		p
			width: 80%