
// project inner

h1.project-name
	font-family: $exo
	font-size: 40px
	margin-top: 30px
	font-weight: 700
	text-align: center
	margin-bottom: 25px
	&:after
		left: 50%
		margin-left: -40px

.project-tags
	text-align: center
	padding: 20px 0
	span
		display: inline-block
		font-size: 14px
		line-height: 30px
		padding: 0 16px
		border: 1px solid rgba(255,255,255,0.5)
		border-radius: 4px
		color: #fff
		margin-right: 20px

ul.about-project-list
	padding-top: 20px
	overflow: hidden
	text-align: center
	padding-bottom: 20px
	position: relative
	&:after
		content: ''
		position: absolute
		bottom: 0
		left: 15%
		right: 15%
		width: 70%
		height: 1px
		background: rgba(255,255,255,0.3)
	li
		display: inline-block
		width: 24%
		h4
			font-size: 11px
			color: #909399
		p
			font-size: 14px
			color: #fff

#myCarousel
	padding: 20px 0 40px
	.item
		margin: 0 auto
		text-align: center
		img
			margin: 0 auto
			max-width: 580px
			height: auto
	.carousel-indicators
		bottom: 0
		li
			border: 1px solid #484848
			background: #484848
			&.active
				background: #909399
				border-color: #909399
	.carousel-control
		background: none
		&:before
			content: ''
			display: block
			width: 40px
			height: 100%
			margin: 0 auto
		&.left
			&:before
				background: transparent url(../img/icons/carousel-control.svg) center no-repeat
		&.right
			&:before
				transform: rotate(180deg)
				background: transparent url(../img/icons/carousel-control.svg) center no-repeat

.project-descr
	padding: 50px 0 45px
	p
		color: #DCDFE6
		font-size: 16px
		line-height: 24px
		text-align: center

ul.properties
	display: block
	text-align: center
	overflow: hidden
	li
		padding: 0 25px
		span
			width: 30px
			height: 30px
			display: block
			margin: 0 auto 20px
			overflow: hidden
			img
				max-width: 100%
				max-height: 100%
				width: auto


.project-step
	padding: 20px 0
	border-top: 1px solid rgba(255,255,255,0.2)
	overflow: hidden

.project-step-block
	padding: 40px 0
	img
		max-width: 100%
	span
		width: 60px
		height: 60px
		border-radius: 50%
		border: 2px solid rgba(255,255,255,0.2)
		color: #fff
		font-size: 20px
		font-weight: 700
		line-height: 56px
		display: block
		text-align: center
		margin-bottom: 30px
	h3
		font-size: 28px
		font-family: $exo
		font-weight: 700
		color: #fff
		margin-bottom: 20px
	p
		font-size: 16px
		line-height: 24px
		margin-bottom: 20px

#myCarousel1
	padding-bottom: 60px
	margin-bottom: 30px
	background: none
	.carousel-control
		background: none !important
		opacity: 1
		&.left, &.right
			background: transparent url(../img/icons/carousel-control.svg) center no-repeat !important
			background-size: 36px 36px !important
		&.left
			left: -10%
		&.right
			transform: rotate(180deg)
			right: -10%
	.item
		background: none
		.col-md-6
			padding: 0
			width: calc((100% - 40px) / 2)
			margin: 0 10px
			border-radius: 5px
			overflow: hidden
			a
				display: block
				position: relative
				width: 100%
				height: 100%
				img
					position: absolute
					z-index: 0
					width: auto
					height: auto
					min-height: 100%
					display: block
					margin: auto
					top: -9999px
					bottom: -9999px
					right: -9999px
					left: -9999px
					transition: all .5s
				.content
					z-index: 1
					background: transparent
					position: absolute
					top: 0
					bottom: 0
					left: 0
					right: 0
					padding: 12px 20px 20px 20px
					h4
						font-family: $exo
						font-weight: 700
						font-size: 24px
						line-height: 44px
						margin: 0
						color: #fff
						position: relative
						&:after
							content: ''
							display: inline-block
							margin: 0 3px
							background: url(../img/icons/project-title-symbol.svg) center bottom no-repeat
							height: 24px
							line-height: 24px
							width: 24px
					.tags
						position: absolute
						overflow: hidden
						bottom: 0
						left: 0
						right: 0
						padding: 20px
						span
							float: left
							font-size: 14px
							line-height: 30px
							padding: 0 16px
							border: 1px solid rgba(255,255,255,0.5)
							border-radius: 4px
							color: #fff
							margin-right: 20px
				&:hover
					img
						transform: scale(1.05)

@media (min-width: 992px) and (max-width: 1200px)

	.project-step
		.row
			margin: 0
	.project-step-block
		padding: 20px 0
		img
			max-width: 100%

@media (min-width: 768px) and (max-width: 991px)

	.project-step
		.row
			margin: 0
	.project-step-block
		padding: 20px 0
		img
			max-width: 100%
	#myCarousel1
		.item
			.col-md-6
				float: left

@media (min-width: 480px) and (max-width: 767px)

	#myCarousel
		.item
			img
				max-width: 100%

	.project-step
		text-align: center
		.row
			margin: 0
	.project-step-block
		padding: 20px 0
		&.leftImg
			border-bottom: 1px solid hsla(0,0%,100%,.2)
		span
			margin: 0 auto 30px
		img
			max-width: 100%

	#myCarousel1
		margin: 0
		.item
			.col-md-6
				float: none
				width: 100%
				margin: 0 0 10px