.news-page
	.container
		ul.news-list.news-page-list
			include ../../../main-page/partials/block-news/_block-news_item
			include ../../../main-page/partials/block-news/_block-news_item
			include ../../../main-page/partials/block-news/_block-news_item
			include ../../../main-page/partials/block-news/_block-news_item
			include ../../../main-page/partials/block-news/_block-news_item
			include ../../../main-page/partials/block-news/_block-news_item
			include ../../../main-page/partials/block-news/_block-news_item
			include ../../../main-page/partials/block-news/_block-news_item
			include ../../../main-page/partials/block-news/_block-news_item
		.col-md-4.nopadding.col-md-offset-8.text-right
			ul.pagination
				li.active.numbers
					a(href='#') 1
				li.numbers
					a(href='#') 2
				li.numbers
					a(href='#') 3
				li.numbers
					a(href='#') 4
				li.numbers
					a(href='#') 5
				li.empty.disabled
					a(href='#').empty
				li.prev.control
					a(href='#')
						i.glyphicon.glyphicon-chevron-left
				li.next.control
					a(href='#')
						i.glyphicon.glyphicon-chevron-right