#main
	// header
	header(style='background: url(../img/banners/services.jpg) center top no-repeat').inner-pages
		include ../../components/_header
		include partials/_block-banner
	// content
	include partials/block-projects-list/_block-projects_list

	//footer
	include ../../components/_footer
	include ../../components/_modal

