
@media (max-width: 768px)
	.services-inner-projects
		text-align: center
		display: block
		li
			width: 100%
			max-width: 380px
			margin: 0 0 20px
			float: none
			text-align: left
			display: inline-block
			&:nth-child(2)
				margin: 0 0 20px
			&:nth-child(3)
				margin: 0 0 20px