
.banner
	.inner-wrap
	.container
		.row
			ul.breadcrumb
				li
					a(href='#') Главная
				li О нас
			h1
				| Разработка
				span мобильных приложений
			p.descr Наша команда разработчиков, дизайнеров, тестировщиков и руководителей проектов сфокусирована на разработке особенных интернет-продуктов
			button.btn.main-btn(type='submit' data-toggle="modal" data-target="#myModal") Бесплатная консультацию