
.contacts
	padding-bottom: 40px
	h1
		margin: 40px 0
	.contact-items
		overflow: hidden
		margin-bottom: 30px
		font-size: 20px
		p
			width: 40%
			float: left
			color: #fff
		span
			width: 60%
			float: left

@media (max-width: 992px)

	.col-md-6
		margin-bottom: 30px