
/******************************************/
//	        Базовые стили                 //
/******************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	outline: 0
	box-shadow: none
	vertical-align: baseline
ol, ul
	list-style: none
table
	border-collapse: collapse
	border-spacing: 0
*
	box-sizing: border-box

input, button, textarea, button
	outline: 0
	box-shadow: none
	&:focus
		box-shadow: none
		outline: 0 !important

a
	transition: all 0.3s
	outline: 0
	text-decoration: none
	&:hover, &:focus
		background: none
		outline: 0 !important

// main colors
$primaryBlock: #17B184
$secondaryBlock: #00A9A7
$bg: #171717
// neutral
$suplementary: #909399
$placeholder: #C0C4CC
$baseborder: #DCDFE6
$line: #EBEEF5
$background: #F5F7FA
// fonts
$exo: 'Exo 2', sans-serif
$proxThin: 'ProximaNova-Thin', sans-serif
$proxLight: 'ProximaNova-Light', sans-serif
$proxReg: 'ProximaNova-Regular', sans-serif
$proxBold: 'ProximaNova-Bold', sans-serif


// body

body
	font-family: $proxReg
	font-size: 14px
	line-height: 20px
	background: $bg
	color: $suplementary

#main
	overflow: hidden

// ui kit

.main-btn
	background: $primaryBlock
	color: #fff
	font-size: 14px
	border-radius: 4px
	padding: 0 30px
	text-decoration: none
	line-height: 40px
	height: 48px
	border: 0
	transition: all .3s
	outline: 0
	&:hover, &:focus
		background: #1ECB98
		color: #fff
	&:active
		background: #17B184


h1
	margin: 130px 0 20px
	padding: 0 0 20px
	font-family: $exo
	font-weight: 700
	color: #fff
	position: relative
	font-size: 40px
	line-height: 44px
	span
		display: block
		color: $primaryBlock
	&:after
		content: ''
		display: block
		position: absolute
		bottom: 0
		left: 0
		width: 80px
		height: 4px
		background: $primaryBlock

.descr
	font-size: 16px
	line-height: 24px
	color: #C0C4CC
	width: 45%
	margin: 0 0 66px

.form-control
	height: 48px

h2.subtitle
	font-size: 36px
	font-weight: 700
	line-height: 44px
	margin: 62px 0 16px
	color: #fff
	text-align: center
	letter-spacing: 1px

p.sub-descr
	font-size: 18px
	font-weight: 300
	line-height: 26px
	text-align: center
	color: #909399
	width: 70%
	margin: 0 auto 40px

.popover
	background: $bg
	border: 1px solid $suplementary
	.popover-title
		background: $bg
		border: none
		color: #fff
		padding-bottom: 0
	.popover-content
		background: $bg
		color: #fff
	.arrow
		&:after
			border-top-color: $suplementary !important

// breadcrumbs

.breadcrumb
	background: none
	padding: 18px 0
	margin: 0
	li
		padding: 0 19px
		position: relative
		&:first-child
			padding-left: 0
		a
			color: #fff
			text-decoration: none
			position: relative

.breadcrumb
	>li+li
		padding-left: 27px
	>li+li:before
		content: ''
		display: block
		width: 8px
		height: 12px
		background: url(../img/icons/breadcrumbs-arrow.svg) center no-repeat
		position: absolute
		left: 0
		bottom: 4px

.inner-pages
	.banner
		padding-bottom: 60px
		h1
			margin-top: 69px
		.descr
			margin-bottom: 40px

.nopadding
	padding-left: 0 !important
	padding-right: 0 !important

.pagination
	z-index: 11
	margin: 0
	padding: 30px 0 0
	text-align: right
	li
		a
			line-height: 40px
			height: 40px
			width: 40px
			padding: 0
			text-align: center
			box-sizing: border-box
			border: 1px solid rgba(255,255,255,0.2)
			background: none
			color: #909399
			font-size: 14px
			&:hover
				border-color: #17B184
				color: #fff
				background: none
		&.empty
			a
				background: none
				border: none
		&.active
			a
				background: none
				border-color: #17B184
				color: #fff
				&:hover
					background: none
					border-color: #17B184
		&.disabled
			a
				background: none
				cursor: default
				&:hover
					background: none
	&.numbers:last-child
		a
			border-top-right-radius: 4px
			border-bottom-right-radius: 4px


@media (min-width: 320px) and (max-width: 767px)
	h1
		font-size: 32px
		margin-top: 80px
		line-height: 32px
	.descr
		width: 70%
		margin-bottom: 30px
	h2.subtitle
		font-size: 30px
		line-height: 30px
		margin-top: 40px
	p.sub-descr
		font-size: 16px
		line-height: 20px
		margin-bottom: 30px
		width: 80%


@media (min-width: 320px) and (max-width: 767px)
	h1
		font-size: 32px
		margin-top: 40px
		line-height: 32px
	.descr
		width: 100%
		margin-bottom: 20px
	h2.subtitle, h2
		font-size: 28px !important
		line-height: 30px
		margin-top: 40px
	p.sub-descr
		font-size: 16px
		line-height: 20px
		margin-bottom: 20px
		width: 90%
