#main
	// header
	header
		include ../../components/_header
		include partials/_block-banner
	// content
	include partials/_block-contacts
	//footer
	include ../../components/_footer
	include ../../components/_modal

