.news-inner-page
	.container
		.row
			.col-md-8.col-md-offset-2.content
				h2 UX Case Study: 10cBooks — How We Improved our Internal System for Borrowing Books
				span.date 5 ОКТЯБРЯ 2018Г
				h3 An internal library in our office is one of the best ideas we’ve ever had, but how to make sure that it comes with an equally good online service for borrowing books? (UX case study)
				p 10cBooks is an internal system for borrowing books in 10Clouds. Thanks to it, employees can develop their interests in the area of IT, design, management and many others. Everything is completely free! We created 10cBooks with the idea that everyone could easily access unlimited sources of knowledge. What’s more, if an interesting book is not in the collection, employees can add a book to the waiting list, which is subject to vote. If the book gets enough votes — it is ordered.
				p Even the best product can be improved, which is why I wanted to determine — what is the level of satisfaction of using 10cBooks, what are the main pain points and how we can get rid of them. This article describes how the process looked like step by step.
				img(src='../img/jpg/news-inner-content.jpg')
				p “Returning the book” — Users paid a lot of attention to the process of returning books. One of the respondents noticed that there is no information on for how long you can borrow a book. There is no commitment that you have to borrow the book for a certain period. The other problems are annoying notifications, which are silenced only when the book is returned. Users who have missed the deadline are worried that they are holding a book that someone is waiting for — they have no information if this book is needed or not.
				p “I do not know what to borrow”- There are a lot of comments pointing out that there is a need for additional information about the book, so then it will be easier to decide which book to take. It is also necessary to publish covers so that users could easily find the book on the shelf.