.clients
	.container
		.row
			#clientCarousel.clients-carousel.carousel.slide(data-ride='carousel')
				// Indicators
				ol.carousel-indicators
					li.active(data-target='#clientCarousel', data-slide-to='0')
					li(data-target='#clientCarousel', data-slide-to='1')
					li(data-target='#clientCarousel', data-slide-to='2')
				// Wrapper for slides
				.carousel-inner
					.item.active
						include _block-clients_item
						include _block-clients_item
						include _block-clients_item
						include _block-clients_item
					.item
						include _block-clients_item
						include _block-clients_item
						include _block-clients_item
						include _block-clients_item
					.item
						include _block-clients_item
						include _block-clients_item
						include _block-clients_item
						include _block-clients_item